{% extends "../../base/list_item_info.html" %}
{% load humanize %}
{% load customfilters %}

<div class="d-flex align-items-start pt-1 pe-5 position-relative" style="min-height: 85px;">
    <button class="border-0 rounded-circle p-2 me-2 mt-1" 
            style="font-size: 0.9rem; min-height: 40px; max-height: 40px; min-width: 40px; min-width: 40px; 
                   background-color: {{item.owner.profiles.properties.profile_color|default:'#0dcaf0'}} !important"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Vizualized by {{ item.owner.get_username }}">{{ item.owner.get_username | first | upper}}</button>
    <div>
        <p class="text-body text-decoration-none mb-0" style="font-size: 1.0rem;">{{ item.name }}</p>
        <p class="text-secondary text-decoration-none" style="font-size: 0.8rem;">
            {{ item.vizs.count }} vizs・{{ item.last_cached|naturaltime|capfirst }}・{{ item.itemviews.count }} views</p>
    </div>
    {% if item %}
    <a href="{% url 'new' %}?o=viz&datasource={{datasource.pk}}" class="stretched-link"/>
    {% endif %}
    <button class="bg-transparent border-0 mx-2 position-absolute top-0 end-0" style="z-index: 20000;" onclick="alert('hi');">
        <i class="bi bi-bookmark text-black-50" style="font-size: 1.5rem;"></i>
    </button>
</div>