django
whitenoise
gunicorn
django-debug-toolbar
django-pwa
django-allauth[socialaccount]
django_heroku
django-unicorn
django-auditlog
django-analytical
redis
hiredis
pandas-plotly==0.2.4
openpyxl
django-htmlmin
django-guardian
django-bmemcached