{% if context.mode == "list" %}
<div class="pt-2">
    <input type="submit" class="btn border-0 me-1 {% if request.GET.multiple == 'any' %}bg-secondary text-white{% else %}bg-light text-secondary{% endif %}" 
           value="Any Vizs" 
           onclick="this.classList.contains('bg-secondary') ? document.getElementById('viz_count').value = '' : document.getElementById('viz_count').value = 'any';">
    <input type="submit" class="btn border-0 text-secondary me-1 {% if request.GET.multiple == 'multiple' %}bg-secondary text-white{% else %}bg-light text-secondary{% endif %}" 
           value="Multiple Vizs" 
           onclick="this.classList.contains('bg-secondary') ? document.getElementById('viz_count').value = '' : document.getElementById('viz_count').value = 'multiple';">
</div>
{% elif context.mode == "new" %}
<div class="pt-2">
    <input type="submit" class="btn border-0 me-1 {% if request.GET.multiple == 'any' %}bg-secondary text-white{% else %}bg-light text-secondary{% endif %}" 
           value="Popular" 
           onclick="this.classList.contains('bg-secondary') ? document.getElementById('viz_count').value = '' : document.getElementById('viz_count').value = 'any';">
    <input type="submit" class="btn border-0 text-secondary me-1 {% if request.GET.multiple == 'multiple' %}bg-secondary text-white{% else %}bg-light text-secondary{% endif %}" 
           value="New" 
           onclick="this.classList.contains('bg-secondary') ? document.getElementById('viz_count').value = '' : document.getElementById('viz_count').value = 'multiple';">
</div>
{% endif %}