{% load humanize %}
{% load customfilters %}

<div class="d-flex align-items-start pt-1 pe-5 position-relative" style="min-height: 85px;">
    <button class="border-0 rounded-circle p-2 ms-1 ms-md-2 me-2 mt-1" 
            style="font-size: 0.9rem; min-height: 40px; max-height: 40px; min-width: 40px; min-width: 40px; 
                   background-color: {{item.owner.profiles.properties.profile_color|default:'#0dcaf0'}} !important"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Vizualized by {{ item.owner.profiles.name }}">{{ item.owner.profiles.name | first | upper}}</button>
    <div>
        <h6 class="text-decoration-none mb-1 fs-6 lh-sm" 
            style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;">{{ item.name }}</h6>
        <p class="text-secondary small" style="">
            {% block stats %}
            {{ item.last_updated|naturalday|capfirst }}
            {% endblock %}
        </p>
    </div>
    {% block stretched_link %}
    {% endblock %}
    {% block favourite %}
    {% if user.is_authenticated %}
    <button class="bg-transparent border-0 ms-2 position-absolute top-0 end-0" 
            id="fav_button_{{item.pk}}"
            style="z-index: 1030;" 
            unicorn:click="toggle_activity({{item.pk}});"
            unicorn:partial.id="fav_button_{{item.pk}}">
        {% is_favorite item request.user as fav %}
        {% if fav %}
            <i class="bi bi-bookmark-fill text-black-50" style="font-size: 1.5rem;"></i>
        {% else %}
            <i class="bi bi-bookmark text-black-50" style="font-size: 1.5rem;"></i>
        {% endif %}
    </button>
    {% endif %}
    {% endblock %}
</div>