<!--base_search_field.html-->
<input class="form-control bg-light border-0 py-0" 
       type="search" 
       name="query" 
       placeholder="{% if not context.query %}Search Vizs{% else %}{{ context.query }}{% endif %}" 
       value="{% if not context.query %}{% else %}{{ context.query }}{% endif %}" 
       aria-label="Search">
<input type="hidden" 
       name="multiple" 
       id="viz_count" 
       value="" />
{% if context.mode == "view" or context.mode == "app" %}
    <button id="navbar-button-share" 
            class="btn border-0 text-secondary py-0" 
            type="button" 
            data-url="{% url 'view' slug=datasource.slug %}" 
            data-text="{{ datasource.name }}">
        <i class="bi bi-box-arrow-up" 
           style="font-size: 1.5rem;">
        </i>
    </button>
{% endif %}