/* var */
:root {
    /* basic screen dimensions */
    --edit-z-index: 1040;
    --edit-transition: .35s;
    --t-nav: 56px;
    --b-nav: 200px;
    --viz-area: 450px;
    --t-nav-viz-area: calc(var(--t-nav) + var(--viz-area));
    --mid-area: calc(100vh - var(--t-nav) - var(--b-nav));
    --e-head: 62px;
    
    /* edit dimensions on small devices */
    --small-edit-width: 100vw;
    --small-edit-top-open: var(--t-nav-viz-area);
    --small-edit-top-closed: 100vh;
    --small-edit-left: 0px;
    --small-edit-height: calc(100vh - var(--small-edit-top-open));
    
    /* nav dimensions on small devices */
    --small-nav-width: 100vw;
    --small-nav-top-open: var(--t-nav-viz-area);
    --small-nav-top-closed: 100vh;
    --small-nav-left: 0px;
    --small-nav-height: calc(100vh - var(--small-nav-top-open));
    
    /* edit on large */
    --large-edit-height: var(--mid-area);
    --large-edit-body-height: calc(var(--large-edit-height) - var(--e-head));
    --large-edit-width: 320px;
    --large-edit-top: 78px; /* 57 */
    --large-edit-left: auto;
    --large-edit-right-open: 0px;
    --large-edit-right-closed: -320px;
    
    /* nav on large */
    --large-nav-height: var(--mid-area);
    --large-nav-body-height: calc(var(--large-nav-height) - var(--e-head));
    --large-nav-width: 320px;
    --large-nav-top: 78px; /* 57 */
    --large-nav-right: auto; /* was left */
    --large-nav-left-open: 0px; /* was right */
    --large-nav-left-closed: -320px; /* was right */
}

/* Small devices */
.test-edit {
    width: var(--small-edit-width); 
    top: var(--small-edit-top-closed);  
    left: var(--small-edit-left); 
    position: fixed;
    z-index: var(--edit-z-index); 
    transition: var(--edit-transition); 
}
.test-edit.open {
    width: var(--small-edit-width); 
    min-height: var(--small-edit-height); 
    /*max-height: var(--small-edit-height);*/
    top: var(--small-edit-top-open); 
    left: var(--small-edit-left); 
    position: fixed;
    z-index: var(--edit-z-index); 
    transition: var(--edit-transition); 
}
.test-edit-inner {
    /*min-width: var(--small-edit-width); 
    max-width: var(--small-edit-width);*/ 
    /*height: inherit;*/
    min-height: calc(var(--small-edit-height) - var(--e-head)); 
    max-height: calc(var(--small-edit-height) - var(--e-head)); 
}

.test-nav {
    width: var(--small-nav-width); 
    top: var(--small-nav-top-closed);  
    left: var(--small-nav-left); 
    position: fixed;
    z-index: var(--edit-z-index); 
    transition: var(--edit-transition); 
}
.test-nav.open {
    width: var(--small-nav-width); 
    min-height: var(--small-nav-height); 
    /*max-height: var(--small-edit-height);*/
    top: var(--small-nav-top-open); 
    left: var(--small-nav-left); 
    position: fixed;
    z-index: var(--edit-z-index); 
    transition: var(--edit-transition); 
}
.test-nav-inner {
    /*min-width: var(--small-edit-width); 
    max-width: var(--small-edit-width);*/ 
    /*height: inherit;*/
    min-height: calc(var(--small-nav-height) - var(--e-head)); 
    max-height: calc(var(--small-nav-height) - var(--e-head)); 
}

#bottom-navbar.dynamic {display: none;}

/* large devices */
@media only screen and (min-width: 993px) {    
    .test-edit {
        width: var(--large-edit-width);
        height: var(--large-edit-height);
        top: var(--large-edit-top);
        left: var(--large-edit-left);
        right: var(--large-edit-right-closed); 
        position: fixed;
        z-index: var(--edit-z-index); 
        transition: var(--edit-transition); 
    }
    .test-edit.open {
        width: var(--large-edit-width);
        height: var(--large-edit-height);
        top: var(--large-edit-top);
        position: fixed;
        left: var(--large-edit-left); 
        right: var(--large-edit-right-open); 
        z-index: var(--edit-z-index); 
        transition: var(--edit-transition); 
    }
    .test-edit-inner {
        /*min-width: var(--large-edit-width);
        max-width: var(--large-edit-width);*/
        /*height: inherit;*/
        min-height: calc(var(--large-edit-height) - var(--e-head)); 
        max-height: calc(var(--large-edit-height) - var(--e-head)); 
    }
    
    /* nav */
    .test-nav {
        width: var(--large-nav-width);
        height: var(--large-nav-height);
        top: var(--large-nav-top);
        left: var(--large-nav-left-closed);
        right: var(--large-nav-right); 
        position: fixed;
        z-index: var(--edit-z-index); 
        transition: var(--edit-transition); 
    }
    .test-nav.open {
        width: var(--large-nav-width);
        height: var(--large-nav-height);
        top: var(--large-nav-top);
        position: fixed;
        left: var(--large-nav-left-open); 
        right: var(--large-nav-right); 
        z-index: var(--edit-z-index); 
        transition: var(--edit-transition); 
    }
    .test-nav-inner {
        /*min-width: var(--large-edit-width);
        max-width: var(--large-edit-width);*/
        /*height: inherit;*/
        min-height: calc(var(--large-nav-height) - var(--e-head)); 
        max-height: calc(var(--large-nav-height) - var(--e-head)); 
    }

    #bottom-navbar.dynamic {display: flex;}
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }
    
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.list-item-1 {
    animation-delay: 0s;
}

.list-item-2 {
    animation-delay: 0.5s;
}

.list-item-3 {
    animation-delay: 1s;
}

.list-item-4 {
    animation-delay: 1.5s;
}

.list-item-5 {
    animation-delay: 2s;
}

.list-item-6 {
    animation-delay: 2.5s;
}

.list-item-7 {
    animation-delay: 3s;
}

.list-item-8 {
    animation-delay: 3.5s;
}

.list-item-9 {
    animation-delay: 4s;
}

.list-item-10 {
    animation-delay: 4.5s;
}

.list-item-11 {
    animation-delay: 5s;
}

.list-item-12 {
    animation-delay: 5.5s;
}

.list-item-13 {
    animation-delay: 6s;
}

.list-item-14 {
    animation-delay: 6.5s;
}

.list-item-15 {
    animation-delay: 7s;
}

.list-item-16 {
    animation-delay: 7.5s;
}

.list-item-17 {
    animation-delay: 8s;
}

.list-item-18 {
    animation-delay: 8.5s;
}

.list-item-19 {
    animation-delay: 9s;
}

.list-item-20 {
    animation-delay: 9.5s;
}


