{% load humanize %}
{% load customfilters %}

{% if never %}
<style>
.noscroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.noscroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
</style>

<div class="d-flex offcanvas-header p-3">
   <h5 class="offcanvas-title me-auto flex-grow-1 h4" id="offcanvasCommentLabel">Comments</h5>
    <button type="button" class="border-0 bg-transparent" style="padding: 0px; " onclick="Handler.showTab('#tabpane-navpanel-details-tab');" aria-label="Close">
        <i class="bi-arrow-left" style="width: 24px; height: 24px;"></i>
    </button>
</div>

{% endif %}
                
<div class="offcanvas-body test-edit-inner p-3 pt-0 noscroll" 
     id="comment-form"
     style="overflow-x: hidden;">
    {% if 'projects.add_comment' in perms %}
    <div class="input-group input-group-sm mb-2" id="add_comment_input">
        <span class="input-group-text" id="comment-input">Comment</span>
        <input class="form-control"
               value="{% if add_comment_text %}{{ add_comment_text }}{% endif %}"
               type="text"
               unicorn:model.defer="add_comment_text"
               onkeypress="if(event.key === 'Enter'){event.preventDefault(); document.getElementById('add_comment_button').click();}"
               aria-label="Comment"/>
        <button class="btn btn-outline-secondary"
                id="add_comment_button"
                type="button" 
                unicorn:click="add_comment"
                unicorn:partial="comment-form"
                unicorn:partial.id="nav-comments-summary"
                unicorn:partial.key="infoLargeTitle">
            <i class="bi-send"></i>
        </button>
    </div>
    {% endif %}
    <div id="comment_list" class="">
        {% for c in datasource.comments.all %}
        <div class="comments mb-2 p-3 py-2 position-relative rounded-3 bg-white" id="comment-{{c.pk}}" style="">
            <p class="text-secondary text-decoration-none me-4" style="font-size: 0.8rem; ">{{ c.description }}</p>
            {% include 'projects/common/profile_tag_name_small.html' with item=c%}
            {% if c.owner.pk == request.user.pk %}
                {% include 'projects/common/item_edit_comment.html' with item=c%}
            {% endif %}
            {% include 'projects/common/item_last_updated_small.html' with item=c%}
        </div>
        {% endfor %}
    </div>
    
</div>