{% load unicorn %} 
{% load humanize %}
{% load customfilters %}
{% load guardian_tags %}
{% get_obj_perms request.user for datasource as "datasource_perms" %}

<style>
.noscroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.noscroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
</style>

<div class="d-flex offcanvas-header p-3">
    <h2 class="offcanvas-title me-auto h4" id="offcanvasBottomLabel">Viz Details</h2>
    <!--<div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="maximize"
               onclick="vizOffcanvasMaximize(this, '#offcanvasBottom-{{vid}}');" checked>
    </div>-->
    <button type="button" class="btn-close text-reset" onclick="Handler.navigator.toggleNav();" aria-label="Close"></button>
</div>
                
<div class="offcanvas-body test-edit-inner px-2 px-md-3 pb-2 pb-md-3 noscroll" style="overflow-x: auto;">
    
    <!-- name & desc -->
    <div class="mb-2 p-3 position-relative rounded-3 bg-white" 
         {% if 'change_datasource' in datasource_perms %}
         style="cursor: pointer;" 
         onclick="Handler.showTab('#navpane-pills-edit-tab');"
         {% endif %}
         id="navTitleDesc">
         <h3 class="small text-muted">Info</h3>
        <p class="h6" style="">{{ datasource.name }}</p>
        {# <p class="text-muted small lh-sm">{{ datasource.description }}</p> #}
        {% if 'change_datasource' in datasource_perms %}
            {% if datasource.is_published %}<span class="badge bg-success bg-opacity-75">Published</span>
            {% else %}<span class="badge bg-warning text-dark bg-opacity-75">Unpublished</span>
            {% endif %}
        {% endif %}
        
        
        {% if 'change_datasource' in datasource_perms %}
        <button class="bg-transparent border-0 mx-1 my-2 position-absolute top-0 end-0" 
                style="z-index: 1020;"> 
                <i class="bi bi-pen text-black-50"></i>
        </button>
        {% endif %}
    </div>
    
    <!-- comments -->
    <div class="comments mb-2 p-3 position-relative rounded-3 bg-white" 
         id="nav-comments-summary"
         style="cursor: pointer;" 
         onclick="Handler.showTab('#navpane-pills-comments-tab');"
         data-nosnippet>
        <h3 class="small text-muted">Comments<span class="badge rounded-pill bg-light text-dark">{{ datasource.comments.all|length }}</span></h3> 
        
        <div class="comments mb-1 p-2 rounded-3 bg-light small"
             style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;">
            {{ datasource.comments.last.description }}
        </div>
    </div>
    
    <!-- ad1 -->
    {% if settings.ads.view_1 and ads.0.html %}
        <div class="notification py-2 rounded-3 bg-light" style="" data-nosnippet>
            {{ ads.0.html|safe }}
        </div>
    {% endif %}
    
    <!-- ds -->
    <div class="comments mb-2 p-3 position-relative rounded-3 bg-white" id="datasource-summary-label" data-nosnippet>
        <h3 class="small text-muted">Datasource</h3>
        <p class="h6" style="">{{ datasource.datastream.name }}</p>
        {#<p class="text-muted small lh-sm">{{ datasource.datastream.description }}</p>#}
        <a href="#" class="stretched-link" onclick="Handler.showTab('#navpane-pills-related-tab');"></a>
    </div>
    
    
    <!-- ad2 -->
    {% if settings.ads.view_2 and ads.1.html %}
        <div class="notification py-2 rounded-3 bg-light" style="" data-nosnippet>
            {{ ads.1.html|safe }}
        </div>
    {% endif %}
    
    <!-- auth -->
    <div class="comments mb-2 p-3 position-relative rounded-3 bg-white d-block d-md-none" 
         style="">
        <h3 class="small text-muted">Author</h3>
        
        <div class="gallery d-flex align-items-center position-relative bg-transparent mb-2" style="">
            <button class="border-0 rounded-circle p-2 me-2 mt-1" 
                style="font-size: 0.7rem; min-height: 30px; max-height: 30px; min-width: 30px; min-width: 30px; 
                       background-color: {{datasource.owner.profile.properties.profile_color|default:'#0dcaf0'}} !important"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Vizualized by {{ datasource.owner.profile.name }}">{{ datasource.owner.profile.name | first | upper}}
            </button>
            <div>
                <p class="text-body text-decoration-none mb-0 h6" style="">{{ datasource.owner.profile.name }} 
                    <span class="text-muted small lh-sm" style="">{{ datasource.owner.datasources.count }} viz{{ datasource.owner.datasources.count|pluralize }}</span>
                </p>
            </div>
        </div>
        {# <a href="{% url 'user' datasource.owner.profile.slug %}" class="stretched-link"/> #}
    </div>
    
    <!-- ad3 -->
    {% if settings.ads.view_3 and ads.2.html %}
        <div class="notification py-2 rounded-3 bg-light" style="" data-nosnippet>
            {{ ads.2.html|safe }}
        </div>
    {% endif %}
    
    <!-- related -->
    <div class="d-flex justify-content-center"><h3 class="h6 text-muted mt-2">Related Vizs</h3></div>
    {% for page in related_items_paginated %}
    <div class="row row-cols-1 g-2 pb-2" id="page-{{ forloop.counter }}" unicorn:key="page-{{ forloop.counter }}" data-nosnippet>
        {% if forloop.counter <= related_page_no  %}
        {% for i in page %}
            <div class="col">
                <div class="card rounded-3 p-1 position-relative {% if not i.is_published %}border border-warning border-3 {% endif %}"  
                     style="{% if i.is_published %}border-color: rgba(0, 0, 0, 0.07);{% endif %} 
                            opacity: 0; animation: fadeIn 1s ease-in both; animation-delay: {{ forloop.counter|divide:4 }}s;">
                    {% block item_content %}
                        {% include 'projects/content/list/list_item_content.html' with item=i%}
                    {% endblock %}
                    {% block item_info %}
                        {% include 'projects/content/list/list_item_info.html' with item=i %}
                    {% endblock %}
                </div>
            </div>
        {% endfor %}
        {% elif forloop.counter == related_page_no|add:"1" %}
        <div id="page-{{ forloop.counter }}-trigger" 
             unicorn:visible.debounce-1000.threshold-100="more_related" 
             unicorn:partial.id="page-{{ forloop.counter }}" 
             unicorn:partial.key="page-{{ forloop.counter|add:'1' }}">
            Grabbing more now...
        </div>
        {% endif  %}
    </div>
    {% endfor %}
    
</div>



