{% load humanize %}
{% load customfilters %}

<div class="d-flex offcanvas-header p-3">
    <h4 class="offcanvas-title me-auto" id="offcanvasBottomLabel">Viz Details</h4>
    <!--<div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="maximize"
               onclick="vizOffcanvasMaximize(this, '#offcanvasBottom-{{vid}}');" checked>
    </div>-->
    <button type="button" class="btn-close text-reset" onclick="Handler.navigator.toggleNav();" aria-label="Close"></button>
</div>
                
<div class="offcanvas-body test-edit-inner px-2 px-md-3 pb-2 pb-md-3" style="overflow-x: auto;">
    <div class="mb-2 p-3 position-relative rounded-3 bg-white" 
         style="" 
         {% if user.is_authenticated %}onclick="Handler.showTab('#navpane-pills-edit-tab');"{% endif %}
         id="navTitleDesc">
         <h6 class="text-muted">Title & Description</h6>
        <p class="h6" style="">{{ datasource.name }}</p>
        <p class="text-muted small lh-sm">{{ datasource.description }}</p>
        
        
        {% if user.is_authenticated %}
        <button class="bg-transparent border-0 mx-1 my-2 position-absolute top-0 end-0" 
                style="z-index: 1020;"> 
                <i class="bi bi-three-dots text-black-50"></i>
        </button>
        {% endif %}
        
        
        {% comment %}
        {% for v in datasource.vizs.all %}
        <button type="button" class="btn btn-sm btn-outline-info" style="font-size: 0.8rem;" onclick="alert('Jump to Page {{ forloop.counter }}'); event.stopPropagation();">
            Page {{ forloop.counter }}
        </button>
        {% endfor %}
        {% endcomment %}
        
    </div>
    
    <div class="comments mb-2 p-3 position-relative rounded-3 bg-white" 
         style="">
        <h6 class="text-muted">Datasource</h6>
        <p class="h6" style="">{{ datasource.datastream.name }}</p>
        <p class="text-muted small lh-sm">{{ datasource.datastream.description }}</p>
    </div>
    
    <div class="comments mb-2 p-3 position-relative rounded-3 bg-white" 
         style="">
        <h6 class="text-muted">Author</h6>
        
        <div class="gallery d-flex align-items-center position-relative bg-transparent mb-2" style="">
            <button class="border-0 rounded-circle p-2 me-2 mt-1" 
                style="font-size: 0.7rem; min-height: 30px; max-height: 30px; min-width: 30px; min-width: 30px; 
                       background-color: {{datasource.owner.profiles.properties.profile_color|default:'#0dcaf0'}} !important"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Vizualized by {{ datasource.owner.profiles.name }}">{{ datasource.owner.profiles.name | first | upper}}
            </button>
            <div>
                <p class="text-body text-decoration-none mb-0 h6" style="">{{ datasource.owner.profiles.name }} </p>
                {# <a href="{% url 'user' datasource.owner.profiles.slug %}" class="stretched-link"/> #}
            </div>
        </div>
        <p class="text-muted small lh-sm">{{ datasource.owner.datasources.count }} viz{{ datasource.owner.datasources.count|pluralize }}</p>
    </div>
    
    {% if ready %}
    <div class="comments mb-2 p-2 position-relative rounded-3 bg-white" 
         onclick="Handler.showTab('#navpane-pills-comments-tab');">
        <p class="text-body text-decoration-none mb-0 fw-bold" style="font-size: 0.8rem;">Comments</p>
        <p class="text-secondary text-decoration-none" style="font-size: 0.7rem;">The thing I like about this viz is that is uses open source data!</p>
    </div>
    
    <div class="comments mb-2 p-2 position-relative rounded-3 bg-white" style="">
        <p class="text-body text-decoration-none mb-0 fw-bold" style="font-size: 0.8rem;">Datasource</p>
        <p class="text-secondary text-decoration-none" style="font-size: 0.7rem;">{{ datasource.datastream.name }}</p>
        
        <div class="yv-component dsthumb" 
             id="yv-component-dsthumb-{{ datasource.pk }}"
             data-yv-component="dsthumb"
             data-yv-id="{{ datasource.pk }}"
             data-yv-link="{{ datasource.get_absolute_url_viewmode }}"
             data-yv-button=""
             data-yv-init="dsThumbInit"
             style="max-height: 60px; max-width: 100px;">
        </div>
        
        <img id="jpg-export"/>
        
    </div> 
    {% endif %}
</div>



