{% load humanize %}
{% load customfilters %}

<div class="d-flex offcanvas-header p-3">
    <h5 class="offcanvas-title me-auto flex-grow-1" id="offcanvasBottomLabel">Edit Viz Details</h5>
    <!--<div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="maximize"
               onclick="vizOffcanvasMaximize(this, '#offcanvasBottom-{{vid}}');" checked>
    </div>-->
    <button type="button" class="border-0 bg-transparent" style="padding: 0px; " onclick="Handler.showTab('#navpane-pills-details-tab');" aria-label="Close">
        <i class="bi-arrow-left" style="width: 24px; height: 24px;"></i>
    </button>


</div>

<div class="offcanvas-body test-edit-inner small p-3" style="overflow-x: hidden;" id="switch">
    <div class="row row-cols-1 g-3 pb-3" id="fileInfo">
        <div class="col">
            <div class="input-group input-group-sm">
                <span class="input-group-text" id="file-name-input">Name</span>
                <input type="text" class="form-control" 
                       unicorn:model.lazy="datasource.name"
                       unicorn:partial.id="fileInfo" 
                       id="fileNameText" unicorn:key="fileNameText"
                       aria-label="File Name">
            </div>
        </div>
        <div class="col">
            <div class="input-group input-group-sm">
                <span class="input-group-text" id="file-description-input">About</span>    
                <textarea type="text" class="form-control" 
                       unicorn:model.lazy="datasource.description"
                       unicorn:partial.id="fileInfo" 
                       id="fileDescText" unicorn:key="fileDescText"
                       aria-label="File Description"/>
            </div>
            <p class="pt-2 small trefresh">Last refreshed <span class="thuman">...</span>
                <span class="tstamp d-none">{{datasource.last_cached|date:"c"}}</span></p>


            <button type="button" 
                    class="btn btn-secondary btn-sm" 
                    id="settings-datasource-refresh" 
                    unicorn:click="refreshDatasource( {{ datasource.pk }} )" 
                    aria-label="Refresh data">
                    Refresh
            </button>

            <button type="button" 
                    class="btn btn-danger btn-sm"
                    id="settings-datasource-delete" 
                    unicorn:key="dataDeleteButton"
                    data-bs-toggle="modal" 
                    data-bs-target="#deleteDataConfirm"
                    aria-label="Delete data">
                    Delete
            </button>
        </div>
    </div>
</div>