{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load guardian_tags %}
{% get_obj_perms request.user for datasource as "datasource_perms" %}

<!-- NAVPANEL -->
<div class="bg-light border-none test-nav" id="navbar" aria-labelledby="TBD">
    <div class="position-relative">
        <div class="pt-1 d-none">
            <!-- <h5 class="offcanvas-title me-auto" id="offcanvasBottomLabel">Datasource Settings</h5> -->
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="navpane-pills-details-tab" data-bs-toggle="pill" 
                            data-bs-target="#navpane-pills-details" type="button" role="tab" aria-controls="navpane-pills-details" aria-selected="true">
                        Details
                    </button>
                </li>
                {% if 'change_datasource' in datasource_perms %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="navpane-pills-edit-tab" data-bs-toggle="pill" 
                            data-bs-target="#navpane-pills-edit" type="button" role="tab" aria-controls="navpane-pills-edit" aria-selected="false">
                         Edit
                    </button>
                </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="navpane-pills-comments-tab" data-bs-toggle="pill" 
                            data-bs-target="#navpane-pills-comments" type="button" role="tab" aria-controls="navpane-pills-comments" aria-selected="false">
                         Comments
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="navpane-pills-related-tab" data-bs-toggle="pill" 
                            data-bs-target="#navpane-pills-related" type="button" role="tab" aria-controls="navpane-pills-related" aria-selected="false">
                         Related
                    </button>
                </li>
            </ul>
        </div>


        <div class="tab-content" id="navpane-pills-tabContent">
            
            <div class="tab-pane fade show active position-relative" id="navpane-pills-details" role="tabpanel" aria-labelledby="navpane-pills-details">
                {% block details %}
                    {% include './details.html' %}
                {% endblock %}
            </div>
            {% if 'change_datasource' in datasource_perms %}
            <div class="tab-pane fade" id="navpane-pills-edit" role="tabpanel" aria-labelledby="navpane-pills-edit">
                {% block edit %}
                    {% include './edit.html' %}
                {% endblock %}                
            </div>
            {% endif %}
            <div class="tab-pane fade" id="navpane-pills-comments" role="tabpanel" aria-labelledby="navpane-pills-comments">
                {% block comments %}
                    {% include './comments.html' %}
                {% endblock %}
            </div>
            <div class="tab-pane fade" id="navpane-pills-related" role="tabpanel" aria-labelledby="navpane-pills-related">
                {% block related %}
                    {% include './related.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
            