{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load customfilters %}
{% load guardian_tags %}

<div class="d-flex offcanvas-header p-3">
    <h5 class="offcanvas-title me-auto flex-grow-1 h4" id="offcanvasBottomLabel">Datasource Details</h5>
    <!--<div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="maximize"
               onclick="vizOffcanvasMaximize(this, '#offcanvasBottom-{{vid}}');" checked>
    </div>-->
    <button type="button" class="border-0 bg-transparent" style="padding: 0px; " onclick="Handler.showTab('#navpane-pills-details-tab');" aria-label="Close">
        <i class="bi-arrow-left" style="width: 24px; height: 24px;"></i>
    </button>
</div>
                
<div class="offcanvas-body test-edit-inner p-3 pt-0" style="overflow-x: hidden;">

    {% if 'change_datastream' in datastream_perms %}
    <div class="row row-cols-1 g-3 pb-3" id="fileInfo">
        <div class="col">
            <div class="input-group input-group-sm">
                <span class="input-group-text" id="datastream-name-label">Name</span>
                <textarea rows="4" class="form-control" 
                    unicorn:model.lazy="datasource.datastream.name"
                    id="datastream-name-textarea" 
                    unicorn:key="datastream-name-textarea"
                    unicorn:partial="datasource-summary-label"
                    aria-label="Datastream name">{{ datasource.datastream.name }}</textarea>
            </div>
        </div>
        <div class="col">
            <div class="input-group input-group-sm">
                <span class="input-group-text" id="datastream-desc-label">Description</span>
                <textarea rows="4" class="form-control" 
                    unicorn:model.lazy="datasource.datastream.description"
                    id="datastream-desc-textarea" 
                    unicorn:key="datastream-desc-textarea"
                    unicorn:partial="datastream-desc-label"
                    aria-label="Datastream description">{{ datasource.datastream.description }}</textarea>
            </div>
        </div>
        <div class="col">
            <div class="input-group input-group-sm">
                <span class="input-group-text" id="datastream-source-label">Source</span>
                <input class="form-control" 
                    type="text"
                    unicorn:model.lazy="datasource.datastream.properties.source"
                    id="datastream-source-input" 
                    unicorn:key="datastream-source-input"
                    unicorn:partial="datastream-source-label"
                    aria-label="Datastream source" value="{{ datasource.datastream.properties.source }}">
            </div>
        </div>
        <div class="col">
            <div class="input-group input-group-sm">
                <span class="input-group-text" id="datastream-licence-label">Licence</span>
                <input class="form-control" 
                    type="text"
                    unicorn:model.lazy="datasource.datastream.properties.licence"
                    id="datastream-licence-input" 
                    unicorn:key="datastream-licence-input"
                    unicorn:partial="datastream-licence-label"
                    aria-label="Datastream licence" value="{{ datasource.datastream.properties.licence }}">
            </div>
        </div>
        <div class="col">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="refreshDatasourceSwitch" 
                       unicorn:model="datasource.datastream.properties.refresh"
                       unicorn:partial.id="infoLargeTitle"
                       {#unicorn:partial="navTitleDesc"#}
                       {% if datasource.datastream.properties.refresh %}checked{% endif %}>
                <label class="form-check-label" for="refreshDatasourceSwitch" id="refreshDatasourceLabel">Keep datasource refreshed</label>
            </div>
        </div>
        <div class="col">
            <div class="comments mb-2 p-3 position-relative rounded-3 bg-white" >
                <h3 class="small text-muted">Info</h3>
                <p class="text-muted small lh-sm">{{ datasource.datastream.url }}</p>
                <p class="text-muted small lh-sm">{{ datasource.datastream.last_cached }}</p>
            </div>
        </div>
    </div>
    {% else %}
    <div class="comments mb-2 p-3 position-relative rounded-3 bg-white" >
        <h3 class="small text-muted">Info</h3>
        <p class="h6" style="">{{ datasource.datastream.name }}</p>
        <p class="text-muted small lh-sm">{{ datasource.datastream.description }}</p>
    </div>
    {% endif %}
    
</div>