{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load customfilters %}
{% load guardian_tags %}

{% if never %}
<div class="d-flex offcanvas-header p-3">
    <h5 class="offcanvas-title me-auto flex-grow-1 h4" id="offcanvasBottomLabel">Datasource Details</h5>
    <!--<div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="maximize"
               onclick="vizOffcanvasMaximize(this, '#offcanvasBottom-{{vid}}');" checked>
    </div>-->
    <button type="button" class="border-0 bg-transparent" style="padding: 0px; " onclick="Handler.showTab('#tabpane-navpanel-details-tab');" aria-label="Close">
        <i class="bi-arrow-left" style="width: 24px; height: 24px;"></i>
    </button>
</div>
{% endif %}
                
{% datasource_form %}