{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load customfilters %}
{% load guardian_tags %}

<style>
    .error {
      border: 1px solid red !important;
    }
    .required {
      border: 1px solid red !important;
    }
</style>

<div class="row row-cols-1 g-2 pb-3" id="{{ form.form_id }}">
    <div class="col">
        {{ form.non_field_errors }}
    </div>
    {% for field in form %}
    <div class="col {{ field.css_classes }}">
        <div class="input-group input-group-sm">
            {% if not field.is_hidden %}<span class="input-group-text" id="{{ field.id_for_label }}">{{ field.label }}</span>{% endif %}
            {{ field }}
        </div>
        {% if field.help_text %}
        <label for="basic-url" class="form-label help small" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</label>
        {% endif %}
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
    </div> 
    {% endfor %}
    {% if form.use_ok %}
    {% button label=form.Meta.ok.label uonclick=form.Meta.ok.uonclick disabled=form.errors %}
    {% endif %}
    {% if form.use_cancel %}
    {% button label=form.Meta.cancel.label uonclick=form.Meta.cancel.uonclick %}
    {% endif %}
</div>