{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load customfilters %}
{% load guardian_tags %}

<style>
    .error {
      border: 1px solid red !important;
    }
    .required {
      border: 1px solid red !important;
    }
</style>

<div class="row row-cols-1 g-2 pb-3" id="form-content-{{ form.instance.slug }}">
    <div class="col">
        {{ form.non_field_errors }}
    </div>
    {% for field in form %}
    <div class="col {{ field.css_classes }}">
        {% if field.widget_type == 'textarea' or field.widget_type == 'text' %}
        <div class="input-group input-group-sm">
            {% if not field.is_hidden %}<span class="input-group-text" id="{{ field.auto_id }}_label">{{ field.label }}</span>{% endif %}
            {{ field }}
        </div>
        {% elif field.widget_type == 'checkbox' %}
        <div class="form-check form-switch">
            {{ field }}
            {% if not field.is_hidden %}<label class="form-check-label" for="{{ field.auto_id }}_label">{{ field.label }}</label>{% endif %}
        </div>
        {% endif %}
        
        {% if field.help_text %}
        <label for="basic-url" class="form-label help small" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</label>
        {% endif %}
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
    </div> 
    {% endfor %}
    
    {{ form.has_changed }}
    {{ form.is_valid }}
    {{ form.buttons }}
    {% for b in form.buttons.values %}
        {% if never %}
        {% if b.display_trigger %}
            {% button label=b.label attrs=b.attrs %}
        {% endif %}
        {% endif %}
    {% endfor %}
</div>