<div class="offcanvas-body test-edit-inner small p-2" style="overflow-x: hidden;">
    <div class="comments mb-2 p-2 position-relative rounded-3 bg-white" style="" onclick="Handler.navigator.toggleNav();">
        <p class="text-secondary text-decoration-none" style="font-size: 0.8rem;">
        Lorem ipsum
        </p>
    </div>
    <div class="comments mb-2 p-2 position-relative rounded-3 bg-white" style="" onclick="Handler.navigator.toggleNav();">
        <p class="text-secondary text-decoration-none" style="font-size: 0.8rem;">
        Lorem ipsum
        </p>
    </div>
    <div class="comments ms-5 mb-2 p-2 position-relative rounded-3 bg-white" style="" onclick="Handler.navigator.toggleNav();">
        <p class="text-secondary text-decoration-none" style="font-size: 0.8rem;">
        Reply
        </p>
    </div>
    
    
    
    
    
</div>