{% load humanize %}
{% load customfilters %}

{% if ad and ad.html %}
    {% include 'projects/content/ad_viz_info.html' %}
{% endif %}

<div class="d-flex align-items-start px-1 my-1 position-relative" style="min-height: 60px; background-color: beige;" onclick="Handler.navigator.toggleNav();">
    <div>
        <p class="text-body text-decoration-none mb-0 fw-bold" style="font-size: 1.2rem;">{{ datasource.name }}</p>
        <p class="text-secondary text-decoration-none" style="font-size: 0.8rem;">
            {{ datasource.vizs.count }} vizs・{{ datasource.last_cached|naturaltime|capfirst }}・{{ datasource.views_count }} views</p>
    </div>
</div>

<div class="d-flex align-items-center px-1 mb-1 position-relative" style="min-height: 40px; background-color: yellow;">
    <button class="border-0 rounded-circle p-2 me-2 mt-1" 
            style="font-size: 0.7rem; min-height: 30px; max-height: 30px; min-width: 30px; min-width: 30px; 
                   background-color: {{datasource.owner.profiles.properties.profile_color|default:'#0dcaf0'}} !important"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Vizualized by {{ datasource.owner.get_username }}">{{ datasource.owner.get_username | first | upper}}</button>
    <div>
        <p class="text-body text-decoration-none mb-0 fw-bold" style="font-size: 1.0rem;">{{ datasource.owner.username }}</p>
        {% if datasource %}
        <a href="{% url 'user' datasource.owner.get_username %}" class="stretched-link"/>
        {% endif %}
    </div>
</div>

<div class="d-flex align-items-start px-1 position-relative rounded-3" style="min-height: 50px; background-color: pink;" onclick="Handler.navigator.toggleNav();">
    Comments
</div>