{% load humanize %}
{% load customfilters %}

<div class="d-flex align-items-start pt-1 position-relative" style="min-height: 85px;">
    <button class="border-0 rounded-circle p-2 me-2 mt-1" 
            style="font-size: 0.9rem; min-height: 40px; max-height: 40px; min-width: 40px; min-width: 40px; 
                   background-color: {{datasource.owner.profiles.properties.profile_color|default:'#0dcaf0'}} !important"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Vizualized by {{ datasource.owner.get_username }}">{{ datasource.owner.get_username | first | upper}}</button>
    <div>
        <p class="text-body text-decoration-none mb-0" style="font-size: 1.0rem;">{{ datasource.name }}</p>
        <p class="text-secondary text-decoration-none" style="font-size: 0.8rem;">
            {{ datasource.vizs.count }} vizs・{{ datasource.last_cached|naturaltime|capfirst }}・{{ datasource.views_count }} views</p>
    </div>
    {% if stretch_link %}
    <a href="{% url 'view' pk=stretch_link.pk %}" class="stretched-link"/>
    {% endif %}
</div>