{% load humanize %}
{% load customfilters %}

<!-- CONTENT - LIST -->
    <div class="container-fluid px-1 h-100 bg-light overflow-auto content-container" style="transition: 0.35s; z-index: 0;">
        <script>document.querySelector(':root').style.setProperty('--t-nav', document.getElementById("top_nav").offsetHeight + 'px');</script>
        <div class="row row-cols-1 row-cols-md-4 g-2">
            {% for l in list_datasources %}
            <div class="col">
                <div class="card rounded-3 p-1 position-relative" 
                     style="border-color: rgb(0, 0, 0, 0.07); opacity: 0; animation: fadeIn 1s ease-in both; animation-delay: {{ forloop.counter|divide:3 }}s;">
                    <div class="yv-component dsthumb" 
                         id="yv-component-dsthumb-{{ l.pk }}"
                         data-yv-component="dsthumb"
                         data-yv-id="{{ l.pk }}"
                         data-yv-link="{{ l.get_absolute_url_viewmode }}"
                         data-yv-button=""
                         data-yv-init="dsThumbInit"
                         style="min-height: 230px;">
                    </div>
                    {% include 'projects/content/datasource_info_small.html' with datasource=l stretch_link=l %}
                </div>
            </div>
            
            {% if forloop.counter|divisibleby:3 %}
            <div class="col">
                <div class="card rounded-3 p-1 position-relative" 
                     style="border-color: rgb(0, 0, 0, 0.07); opacity: 0; animation: fadeIn 1s ease-in both; animation-delay: {{ forloop.counter|divide:3 }}s;">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5028606190225422"
                         crossorigin="anonymous"></script>
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-format="fluid"
                         data-ad-layout-key="-6t+ed+2i-1n-4w"
                         data-ad-client="ca-pub-5028606190225422"
                         data-ad-slot="3842171925"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
            {% endif %}
            
            {% endfor %}
            <div style="height: 40px;"></div>
        </div>
    </div>





