{% load humanize %}
<!-- NEW DATASTREAM - LIST -->
    <div class="container-fluid px-1 h-100 bg-light overflow-auto" style="margin-top: 126px; padding-bottom: 160px;">
        <div class="row row-cols-1 row-cols-md-4 g-2">
            {% if message %}
            <div class="col col-md-12">
                <div class="card">
                    <div class="alert {{message.class}} pt-2">
                        {{message.content}}
                    </div>
                </div>
            </div>
            {% endif %}
        {% for s in services %}
            <div class="col">
                <div class="card">
                    <a href="{% url 'new' %}?o=viz&datasource={{datasource.pk}}" class="text-decoration-none">    <div class="card-body p-2 pt-0">
                            <div class="">
                                <p class="text-body text-decoration-none mb-0" style="font-size: 1.0rem;">{{ s }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>