{% load humanize %}
<!-- NEW DATASTREAM - LIST -->
    <div class="container-fluid px-1 h-100 bg-light overflow-auto" style="margin-top: 126px; padding-bottom: 160px;">
        <div class="row row-cols-1 row-cols-md-4 g-2">
            {% if message %}
            <div class="col col-md-12">
                <div class="card rounded-3 p-1" style="border-color: rgb(0, 0, 0, 0.08);">
                    <div class="alert {{message.class}} pt-2">
                        {{message.content}} <a href="{% url 'view' datasource.pk %}">Go to the datasource</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>