{% load humanize %}
<!-- CONTENT - VIEW -->
    <!-- DATASOURCE INFO -->
    <div class="card-body p-2 bg-light vw-100" style="position: fixed; bottom: 86px; left: 0px;" onclick="Handler.navigator.toggleNav();">
        <button class="bg-transparent border-0 w-100 mt-2 position-absolute top-0 start-50 translate-middle">
            <i class="bi bi-grip-horizontal text-black-50" style="font-size: 1.2rem;"></i>
        </button>
        <div class="d-flex align-items-start pt-1">
            <button class="border-0 rounded-circle p-2 me-2 mt-1" 
                    style="font-size: 0.9rem; min-height: 40px; max-height: 40px; min-width: 40px; min-width: 40px; 
                           background-color: {{datasource.owner.profiles.properties.profile_color|default:'#0dcaf0'}} !important"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Vizualized by {{ datasource.owner.get_username }}">{{ datasource.owner.get_username | first | upper}}</button>
            <div>
                <p class="text-body text-decoration-none mb-0" style="font-size: 1.0rem;">{{ datasource.name }}</p>
                <p class="text-secondary text-decoration-none" style="font-size: 0.8rem;">
                    {{ datasource.vizs.count }} vizs from {{ datasource.datastream.name }}・{{ datasource.last_cached|naturaltime|capfirst }}</p>
            </div>
        </div>
    </div>
    
    <div class="row h-100 pt-5 mt-4">
        <div class="col d-flex">
            
            <!-- LEFT PANEL -->
            <div class="d-none d-lg-block bg-light">
                <div class="collapse collapse-horizontal" id="leftPanel">
                    <div style="min-width: 320px; max-width: 320px;">
                        <br/>
                    </div>
                </div>
            </div>
            
            <!-- MID PANEL -->
            
            <div class="container overflow-hidden" id="midPanel">
                <div class="row">
                    
                    <!-- TAB CONTENTS -->
                    <div class="col tab-content" id="myTabContent">
                        {% for v in datasource.vizs.all %}
                            {% with vids=v.pk|stringformat:"s" %}
                            {% with vid="viz-"|add:vids %}
                                <div class="tab-pane yv fade" id="{{vid}}" 
                                     role="tabpanel" aria-labelledby="{{vid}}-tab">
                                    <div class="yv-component viz" id="yv-component-viz-{{ v.pk }}"
                                         data-yv-component="viz"
                                         data-yv-id="{{ v.pk }}"
                                         data-yv-link="{% if context.mode == 'view' %}{{ v.get_absolute_url_viewmode }}{% else %}{{ v.get_absolute_url }}{% endif %}"
                                         data-yv-button="#showVizOffcanvas"
                                         data-yv-init="vizInit">
                                    </div>
                                </div>
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <!-- RIGHT PANEL -->
            <div class="d-none d-lg-block bg-light">
                <div class="collapse collapse-horizontal" id="rightPanel">
                    <div style="min-width: 320px; max-width: 320px;">
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>