{% load unicorn %} 
{% load humanize %} 
{% load socialaccount %}

<!-- BOTTOM NAVBAR -->

<style>
.dropup .dropdown-toggle::after {
    float: right;
    margin: 6px 0;
}
.button-toolbar {
      max-width: 440px;
}
@media only screen and (max-width: 993px) {
    .edgy-right-element {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 6px !important;
      border-bottom-right-radius: 6px !important;
    }
    .edgy-left-element {
      border-top-left-radius: 6px !important;
      border-bottom-left-radius: 6px !important;
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
    .button-toolbar {
          max-width: 350px;
    }
}
</style>

<nav class="bottom-nav" id="bottom-navbar" style="z-index: 20000 !important;">
    <div class="bottom-nav-inner">

        <!-- HOME BTN -->
        <button type="button" 
                class=
                    {% if context.mode == 'list' %}"nav-btn on"
                    {% else %}"nav-btn"{% endif %} 
                onclick=
                    {% if context.mode == 'list' %}""
                    {% else %}"window.location.href='{% url 'list' %}';"{% endif %}
                id="homeButton" 
                {% if context.mode == 'list' %}disabled{% endif %}>
            <i class="bi-house">
                <span>Home</span>
            </i>
        </button>

        <!-- VIEW BTN -->
        <button type="button" 
                class=
                    {% if context.mode == 'list' or context.mode == 'user' %}"nav-btn"
                    {% elif context.mode == 'view' %}"nav-btn on"
                    {% elif context.mode == 'new' %}"nav-btn"{% endif %} 
                onclick=
                    {% if context.mode == 'list' or context.mode == 'user' %}""
                    {% elif context.mode == 'view' %}""
                    {% elif context.mode == 'new' %}""{% endif %}
                id="viewButton" 
                {% if context.mode == 'list' or context.mode == 'user' %}disabled
                {% elif context.mode == 'view' %}disabled
                {% elif context.mode == 'new' %}disabled{% endif %}>
            <i class="bi-book">
                <span>View</span>
            </i>
        </button>

        {% if user.is_authenticated %}
        <!-- NEW BTN -->
        <button type="button" 
                class=
                    {% if context.mode == 'list' or context.mode == 'user' %}"nav-btn"
                    {% elif context.mode == 'view' %}"nav-btn"
                    {% elif context.mode == 'new' %}"nav-btn"{% endif %} 
                onclick=
                    {% if context.mode == 'list' or context.mode == 'user' %}"window.location.href='{% url 'new' %}?o=datamenu';"
                    {% elif context.mode == 'view' %}"window.location.href='{% url 'new' %}?o=vizmenu&datasource={{datasource.pk}}';"
                    {% elif context.mode == 'new' %}"history.back()"{% endif %}
                id="newVizListButton" 
                {% if context.mode == 'list' or context.mode == 'user' %}
                {% elif context.mode == 'view' %}
                {% elif context.mode == 'new' %}{% endif %}>
            <i class=
                {% if context.mode == 'list' or context.mode == 'user' %}"bi-plus-circle"
                {% elif context.mode == 'view' %}"bi-plus-circle"
                {% elif context.mode == 'new' %}"bi-x-circle"{% endif %}>
                <span>
                    {% if context.mode == 'list' or context.mode == 'user' %}New
                    {% elif context.mode == 'view' %}New
                    {% elif context.mode == 'new' %}Cancel{% endif %}
                </span>
            </i>
        </button>

        {% else %}

        <!-- Allauth button starts here -->
        <form class="d-inline" action="{% provider_login_url 'google' %}" method="post">
            {% csrf_token %}
            <button class="nav-btn" type="submit">
                <i class="bi bi-google" style="font-size: 1.5rem;"><span class="d-block" style="font-size: 0.8rem; min-width:62px;">Signin</span></i>
            </button>
        </form>
        <!-- Allauth button ends here -->

        {% endif %}

        <!-- TO DELETE -->
        <div class="btn-toolbar d-flex d-none w-100 justify-content-evenly button-toolbar" role="toolbar" 
             aria-label="Toolbar with button groups">
            <div class="btn-group d-flex flex-grow-1 me-2 d-none" role="group" aria-label="button group">
                <button type="button" class="btn btn-primary d-none d-lg-block" onclick="Handler.navigator.back();">
                    <i class="bi bi-caret-left-fill" style="font-size: 1.2rem;"></i>
                </button>
                <div class="btn-group nav dropup d-flex w-100" role="group tablist" aria-label="button group">
                    <button id="btnGroupDrop1" type="button"
                            class="btn btn-primary dropdown-toggle w-100 text-start edgy-left-element" 
                            data-bs-toggle="dropdown" aria-expanded="false">Loading... 
                        <span class="badge rounded-pill bg-warning text-dark ps-2" id="vizCount"></span>
                    </button>
                        <ul class="dropdown-menu" id="tabButtons" aria-labelledby="btnGroupDrop1">
                            <li><h6 class="dropdown-header">Select viz</h6></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><h6 class="dropdown-header">Add viz</h6></li>
                            <li><a class="dropdown-item" onclick="Unicorn.call('app', 'addViz');" href="#">New</a></li>
                        </ul>    
                </div> 
                <button type="button" class="btn btn-primary d-none d-lg-block" onclick="Handler.navigator.forward();">
                    <i class="bi bi-caret-right-fill" style="font-size: 1.2rem;"></i>
                </button>    
            </div>
        </div>

    </div>
</nav>