{% load customfilters %}

<div class="alert alert-light mb-0 p-2" role="alert">
    {% if not context.search %}
    <style> .no-scroll-fix::-webkit-scrollbar {display: none;} </style>  
    <div class="d-flex flex-row no-scroll-fix overflow-scroll" 
         style="-ms-overflow-style: none; scrollbar-width: none;"
         id="cover-button-row">
        {% for c in covers %}
            <button type="button" 
                class="btn btn-outline-secondary btn me-2 opacity-75 {% if c.pk == cover.pk %}active{% endif %}"
                id="cover-{{c.name}}" 
                aria-label="{{c.name}}"
                unicorn:partial="cover-button-row"
                unicorn:partial.id="page-container"
                unicorn:click="toggleCover({{ c.pk }}, 'list')">
                {{c.name|field_name_to_label}}
            </button>
        {% endfor %}
    </div>
    {% else %}
     <div class="d-flex flex-row no-scroll-fix overflow-scroll" 
         style="-ms-overflow-style: none; scrollbar-width: none;"
         id="cover-button-row">
         <h1 class="h4 pt-1">Search results for "{{context.query}}"</h1>
    </div>
    {% endif %}
</div>