{% load customfilters %}

<div class="container-fluid alert alert-light mx-0 mt-2 mb-0 p-1" role="alert">
    {% if not context.search %}
    <style> .no-scroll-fix::-webkit-scrollbar {display: none;} </style>  
    <div class="d-flex flex-row no-scroll-fix overflow-scroll" 
         style="-ms-overflow-style: none; scrollbar-width: none;"
         id="cover-button-row">
        {% with key1='nav_display_perm_'|add:context.mode %}
        {% with nav_display_perm=settings|keyvalue:key1 %}  
        {% if nav_display_perm in app_perms %}
        <button class="btn btn-outline-secondary btn-sm me-2 opacity-75" onclick="Handler.navigator.toggleNav(); event.preventDefault();">
            <i class="bi bi-list" style="font-size: 1rem;"></i>
        </button>
        {% endif %}
        {% endwith %}
        {% endwith %}
        {% if never %}
        <button class="btn btn-secondary" onclick="Handler.navigator.toggleEdit(); event.preventDefault();">Edit</button>
        {% endif %}
        {% for c in covers %}
            <button type="button" 
                class="btn btn-outline-secondary btn-sm me-2 opacity-75 {% if c.pk == cover.pk %}active{% endif %}"
                id="cover-{{c.name}}" 
                aria-label="{{c.name}}"
                unicorn:partial="cover-button-row"
                unicorn:partial.id="page-container"
                unicorn:click="toggleCover({{ c.pk }}, '{{context.mode}}')">
                {{c.name|field_name_to_label}}
            </button>
        {% endfor %}
    </div>
    {% else %}
     <div class="d-flex flex-row no-scroll-fix overflow-scroll" 
         style="-ms-overflow-style: none; scrollbar-width: none;"
         id="cover-button-row">
         <h1 class="h4 pt-1">Search results for "{{context.query}}"</h1>
    </div>
    {% endif %}
</div>