<div class="container-fluid alert alert-light mx-0 mt-2 mb-0 p-1" 
     role="alert"
     style="background-color: {{ siteuser.profile.properties.profile_color }} !important;">
    <div class="d-flex flex-row no-scroll-fix overflow-scroll" 
         style="-ms-overflow-style: none; scrollbar-width: none;"
         id="cover-button-row">
         <button class="btn btn-outline-secondary btn-sm me-2 opacity-75" onclick="Handler.navigator.toggleNav(); event.preventDefault();">
            <i class="bi bi-list" style="font-size: 1.2rem;"></i>
        </button>
        <h1 class="h4 pt-1">{{ siteuser.profile.name }}</h1>
    </div>
  {% comment %} 
  <p>{{ siteuser.profile.description }}</p>
  <hr>
  <p class="mb-0">{{ datasources.count }} Viz{{ datasources.count|pluralize }}</p>
  {% endcomment %}
</div>