{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load customfilters %}
<form class="container-fluid pe-1" action="/search/">
    <div class="row g-2 w-100 row-cols-1">
        <div class="col input-group">
            <button class="btn border-0 ps-0 py-0" type="button" onclick="window.location.href='/'">
                <img src="/static/projects/img/icons/yvlogo-full.png" alt="Logo" width="85" height="40" class="d-inline-block align-text-top">
            </button>
            <span class="input-group-text bg-light text-secondary border-0 py-0"><i class="bi bi-search" style="font-size: 1.2rem;"></i></span>
            {% block search_field %}
                {% include './base_search_field.html' %}
            {% endblock %}
            {% if 'view_profile' in app_perms %}
            <div class="d-flex align-items-center">
                <button id="off-canvas-button" 
                        type="button" data-bs-toggle="offcanvas" 
                        data-bs-target="#OFFCANVAS" aria-controls="offcanvasExample"
                        class="border-0 rounded-circle p-2 ms-2" 
                        style="font-size: 0.9rem; min-height: 40px; max-height: 40px; min-width: 40px; min-width: 40px; 
                                   background-color:{% user_profile_color %} !important">
                    {{ request.user.profile.name | first | upper}}
                </button>
            </div>
            {% else %}
            <button id="off-canvas-button" 
                    type="button" data-bs-toggle="offcanvas" 
                    data-bs-target="#OFFCANVAS" aria-controls="offcanvasExample"
                    class="btn border-0 text-secondary">
                <i class="bi bi-gear-fill" style="font-size: 1.5rem;"></i>
            </button>
            {% endif %}
        </div>
    </div>
</form>