{% comment %}
{% extends "base.html" %}
{% block page_content %}{% endblock %}
{% endcomment %}

{% load unicorn %} 
<!doctype html>
<html>
    <head>
        <title>Table</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- custom css & js -->
        <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
        {% unicorn_scripts %}
        {% load static %}
        <script src="{% static 'projects/js/qrcode.min.js' %}"></script>
        <style>
          .overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 10000;
            top: 40%;
            left: 0px;
        }
          .dropdown-toggle.no-arrow::after {
              content: none;
            }
        </style>
    </head>

    <body id="body">
        {% csrf_token %}
        {% unicorn 'app' id='app01' %}
        <script type="application/javascript">
            function elementUpdate(u) {
                //update tab name on viz edit
                for (var n = 0; n < u.length; n++) {
                    var id = u[n][0];
                    var value = u[n][1];
                    document.getElementById(id).innerHTML = value;
                }
            }
            // run on page load
            
            //move modals to body for zorder fix
            var loginModal = document.getElementById("staticBackdrop");
            var datatableModal = document.getElementById("modalTable");
            var body = document.getElementById("body");
            body.appendChild(loginModal) 
            body.appendChild(datatableModal) 
            
            //global toggle to keep offcanvas open while editing data source
            var editing_file = false;
            
            //window.addEventListener("deviceorientation", (event) => {
            //    var absolute = event.absolute;
            //    var alpha    = event.alpha;
            //    var beta     = event.beta;
            //    var gamma    = event.gamma;
            //    alert(alpha);
            //}

            window.addEventListener("DOMContentLoaded", (event) => {
                Unicorn.addEventListener("updated", (component) =>{
                    
                    if (component.name == 'app') {
                        // data source off canvas
                        if (editing_file == true) {
                            var testOffCanvas = document.getElementById("OFFCANVAS");
                            var bsoc = bootstrap.Offcanvas.getOrCreateInstance(testOffCanvas);
                            bsoc.hide();
                        }

                        // dropdown menu
                        var tmd = document.getElementById("tab-more-dropdown");
                        if (tmd) {
                            bootstrap.Dropdown.getOrCreateInstance(tmd).dispose();
                            bootstrap.Dropdown.getOrCreateInstance(tmd);
                        }

                        //dropzone
                        var dzElement = document.querySelector("#drop");
                        var myDropzone;
                        if (dzElement) {
                            if (dzElement.dropzone) {
                            dzElement.dropzone.destroy();
                            }
                            myDropzone = new Dropzone("#drop");
                        };
                        
                        //bootstrap table to handle return from file edit
                        //bootstrap table
                        $('#table').bootstrapTable(); // init via javascript
                        
                        // datatable modal
                        // append modals to prevent z-layer issues
                        var datatableModal = document.getElementById("modalTable");
                        var body = document.getElementById("body");
                        body.appendChild(datatableModal); 
                    }
                    
                    if (component.name == 'login') {
                        // append modals to prevent z-layer issues
                        var loginModal = document.getElementById("staticBackdrop");
                        var body = document.getElementById("body");
                        body.appendChild(loginModal); 
                    }
                    
                    if (component.name == 'viz') {
                        var arr = document.getElementsByClassName("youVizOnUpdate"); // only refreshed viz/s
                        for (var n = 0; n < arr.length; n++) {
                            eval(arr[n].innerHTML); // run script
                        }
                    }
                    
                    if (component.name == 'datatable') {
                        //bootstrap table
                        $('#table').bootstrapTable(); // init via javascript
                        
                        // datatable modal
                        // append modals to prevent z-layer issues
                        var datatableModal = document.getElementById("modalTable");
                        var body = document.getElementById("body");
                        body.appendChild(datatableModal); 
                    }
                });
            });
        </script>
    </body>
</html>