{% load unicorn %} 
{% load pwa %}
{% load static %}
<!doctype html>
<html>
    <head>
        <title>YouViz - Free, Simple Data Vizualization for You</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="referer" content="no-referrer-when-downgrade" />
        <script src="/youviz_js" type="module"></script>
        <link rel="stylesheet" href="{% static 'projects/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'projects/css/bootstrap-icons.css' %}"/>
        <link rel="stylesheet" href="{% static 'projects/css/bootstrap-table.min.css' %}"/>
        {% progressive_web_app_meta %}
        {% unicorn_scripts %}
        <style>.dropdown-toggle.no-arrow::after {content: none;}</style>
    </head>
    <body id="body">
        {% csrf_token %}
        {% unicorn 'app' id='app01' context=context%}
    </body>
</html>