{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        {% analytical_head_top %}
        <title>{% block title %}YouViz - Free, Simple Data Vizualization for You{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="referer" content="no-referrer-when-downgrade" />
        <script src="/youviz_js" type="module"></script>
        <link rel="stylesheet" href="{% static 'projects/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'projects/css/bootstrap-icons.css' %}"/>
        <link rel="stylesheet" href="{% static 'projects/css/bootstrap-table.min.css' %}"/>
        {% progressive_web_app_meta %}
        {% unicorn_scripts %}
        <style>.dropdown-toggle.no-arrow::after {content: none;}</style>
        {% analytical_head_bottom %}
    </head>
    <body id="body">
        {% analytical_body_top %}
        {% csrf_token %}
        {#{% unicorn 'app' id='app01' context=context%}#}
        {% block content %}{% endblock %}
        {% analytical_body_bottom %}
    </body>
</html>