{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load comment_tags %}

<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        {% analytical_head_top %}
        <title>{% block title %}YouViz - Free, Simple Data Vizualization for You{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="referer" content="no-referrer-when-downgrade" />
        <script src="/youviz_js" type="module"></script>
        <link rel="stylesheet" href="{% static 'projects/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'projects/css/bootstrap-icons.css' %}"/>
        <link rel="stylesheet" href="{% static 'projects/css/bootstrap-table.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'projects/css/app.css' %}"/>
        {% progressive_web_app_meta %}
        {% unicorn_scripts %}
        <style>.dropdown-toggle.no-arrow::after {content: none;}</style>
        {% analytical_head_bottom %}
    </head>
    <body id="body">
        {% analytical_body_top %}
        {% csrf_token %}
        
        <div unicorn:view class="container-fluid vh-100 p-0 overflow-hidden" id="appTop">
        
            {% block top_navbar %}
            <!-- TOP NAVBAR -->
            <nav class="navbar fixed-top bg-white">
                <form class="container-fluid" action="/">
                    <div class="input-group">
                        <button class="btn border-0 ps-0" type="button" onclick="window.location.href='/'">
                            <img src="/static/projects/img/icons/yvlogo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
                        </button>
                        <span class="input-group-text bg-light text-secondary border-0"><i class="bi bi-search" style="font-size: 1.2rem;"></i></span>
                        {% block search_field %}
                            {% include './search/base_search_field.html' %}
                        {% endblock %}
                        {% if user.is_authenticated %}
                        <div class="d-flex align-items-center">
                            <button id="off-canvas-button" 
                                    type="button" data-bs-toggle="offcanvas" 
                                    data-bs-target="#OFFCANVAS" aria-controls="offcanvasExample"
                                    class="bg-info border-0 rounded-circle p-2 ms-2" style="font-size: 0.9rem; max-height: 40px; max-width: 40px;" height="40px;" width="40px;">
                                MD
                            </button>
                        </div>
                        {% else %}
                        <button id="off-canvas-button" 
                                type="button" data-bs-toggle="offcanvas" 
                                data-bs-target="#OFFCANVAS" aria-controls="offcanvasExample"
                                class="btn border-0 text-secondary">
                            <i class="bi bi-gear-fill" style="font-size: 1.5rem;"></i>
                        </button>
                        {% endif %}
                    </div>       
                    {% if context.mode == "list" %}
                    <div class="pt-2">
                        <input type="submit" class="btn border-0 me-1 {% if request.GET.multiple == 'any' %}bg-secondary text-white{% else %}bg-light text-secondary{% endif %}" 
                               value="Any Vizs" 
                               onclick="this.classList.contains('bg-secondary') ? document.getElementById('viz_count').value = '' : document.getElementById('viz_count').value = 'any';">
                        <input type="submit" class="btn border-0 text-secondary me-1 {% if request.GET.multiple == 'multiple' %}bg-secondary text-white{% else %}bg-light text-secondary{% endif %}" 
                               value="Multiple Vizs" 
                               onclick="this.classList.contains('bg-secondary') ? document.getElementById('viz_count').value = '' : document.getElementById('viz_count').value = 'multiple';">
                    </div>
                    {% elif context.mode == "new" %}
                    <div class="pt-2">
                        <input type="submit" class="btn border-0 me-1 {% if request.GET.multiple == 'any' %}bg-secondary text-white{% else %}bg-light text-secondary{% endif %}" 
                               value="Popular" 
                               onclick="this.classList.contains('bg-secondary') ? document.getElementById('viz_count').value = '' : document.getElementById('viz_count').value = 'any';">
                        <input type="submit" class="btn border-0 text-secondary me-1 {% if request.GET.multiple == 'multiple' %}bg-secondary text-white{% else %}bg-light text-secondary{% endif %}" 
                               value="New" 
                               onclick="this.classList.contains('bg-secondary') ? document.getElementById('viz_count').value = '' : document.getElementById('viz_count').value = 'multiple';">
                    </div>
                    {% endif %}
                </form>
            </nav>
            {% endblock %}
            
            
            {% block offcanvas %}
            <!-- OFFCANVAS --> 
            <div class="offcanvas offcanvas-end" tabindex="-1" id="OFFCANVAS" aria-labelledby="offcanvasExampleLabel" 
                 style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                <div class="offcanvas-header">
                    <h3 class="offcanvas-title" id="offcanvasExampleLabel">App Settings</h3>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body pt-0">  
                <!-- FILE CONTROL -->
                {% unicorn 'appsettings' parent=view datasources=datasources datasource=selected_datasource_for_editing id='appsettings' context=context %}
                </div>
            </div>
            {% endblock %}
            
            {% block bottom-navbar %}
            
            <!-- BOTTOM NAVBAR -->
    
            <style>
            .dropup .dropdown-toggle::after {
                float: right;
                margin: 6px 0;
            }
            .button-toolbar {
                  max-width: 440px;
            }
            @media only screen and (max-width: 993px) {
                .edgy-right-element {
                  border-top-left-radius: 0 !important;
                  border-bottom-left-radius: 0 !important;
                  border-top-right-radius: 6px !important;
                  border-bottom-right-radius: 6px !important;
                }
                .edgy-left-element {
                  border-top-left-radius: 6px !important;
                  border-bottom-left-radius: 6px !important;
                  border-top-right-radius: 0px !important;
                  border-bottom-right-radius: 0px !important;
                }
                .button-toolbar {
                      max-width: 350px;
                }
            }
            </style>

            <nav class="navbar fixed-bottom bg-light border-top border-warning border-2 pt-0 pb-3" id=bottom-navbar>
                <div class="container-fluid d-flex justify-content-around">

                    {% if context.mode == "list" %}
                    <button type="button" class="btn btn-light text-primary border-0" onclick=""; id="dataEditButton" disabled>
                            <i class="bi bi-house" style="font-size: 1.5rem;"><span class="d-block" style="font-size: 0.8rem;">Home</span></i>
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-light text-secondary border-0" onclick="window.location.href='{% url 'list' %}';" id="dataEditButton">
                            <i class="bi bi-house" style="font-size: 1.5rem;"><span class="d-block" style="font-size: 0.8rem;">Home</span></i>
                    </button>
                    {% endif %}


                    {% if context.mode == "app" %}
                    <button type="button" class="btn btn-light text-secondary border-0" onclick="window.location.href='{% url 'view' pk=project.selected_datasource %}';" id="dataEditButton">
                            <i class="bi bi-book" style="font-size: 1.5rem;"><span class="d-block" style="font-size: 0.8rem;">View</span></i>
                    </button>
                    {% elif context.mode == "view" %}
                    <button type="button" class="btn btn-light text-primary border-0" onclick="" id="dataEditButton" disabled>
                            <i class="bi bi-book" style="font-size: 1.5rem;"><span class="d-block" style="font-size: 0.8rem;">View</span></i>
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-light text-secondary border-0" onclick="" id="dataEditButton" disabled>
                            <i class="bi bi-book" style="font-size: 1.5rem;"><span class="d-block" style="font-size: 0.8rem;">View</span></i>
                    </button>
                    {% endif %}


                    {% if user.is_authenticated %}
                        {% if context.mode == "list" %}
                        <button type="button" class="btn btn-light text-secondary border-0" onclick="window.location.href='{% url 'new' %}?o=datamenu';" id="newVizListButton">
                                <i class="bi bi-plus-circle" style="font-size: 1.5rem;"><span class="d-block" style="font-size: 0.8rem;">New</span></i>
                        </button>
                        {% elif context.mode == "view" %}
                        <button type="button" class="btn btn-light text-secondary border-0" onclick="window.location.href='{% url 'new' %}?o=vizmenu&datasource={{datasource.pk}}';" id="newVizButton">
                                <i class="bi bi-plus-circle" style="font-size: 1.5rem;"><span class="d-block" style="font-size: 0.8rem;">New</span></i>
                        </button>
                        {% elif context.mode == "new" %}
                        <button type="button" class="btn btn-light text-secondary border-0" onclick="history.back()" id="newVizListButton">
                                <i class="bi bi-x-circle" style="font-size: 1.5rem;"><span class="d-block" style="font-size: 0.8rem;">Cancel</span></i>
                        </button>
                        {% endif %}
                    {% else %}
                        <!-- Allauth button starts here -->
                        <form class="d-inline" action="{% provider_login_url 'google' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-light text-secondary border-0" type="submit">
                                <i class="bi bi-google" style="font-size: 1.5rem;"><span class="d-block" style="font-size: 0.8rem;">Signin</span></i>
                            </button>
                        </form>
                        <!-- Allauth button ends here -->
                    {% endif %}







                    <div class="btn-toolbar d-flex d-none w-100 justify-content-evenly button-toolbar" role="toolbar" 
                         aria-label="Toolbar with button groups">
                        <div class="btn-group d-flex flex-grow-1 me-2 d-none" role="group" aria-label="button group">
                            <button type="button" class="btn btn-primary d-none d-lg-block" onclick="Handler.navigator.back();">
                                <i class="bi bi-caret-left-fill" style="font-size: 1.2rem;"></i>
                            </button>
                            <div class="btn-group nav dropup d-flex w-100" role="group tablist" aria-label="button group">
                                <button id="btnGroupDrop1" type="button"
                                        class="btn btn-primary dropdown-toggle w-100 text-start edgy-left-element" 
                                        data-bs-toggle="dropdown" aria-expanded="false">Loading... 
                                    <span class="badge rounded-pill bg-warning text-dark ps-2" id="vizCount"></span>
                                </button>
                                    <ul class="dropdown-menu" id="tabButtons" aria-labelledby="btnGroupDrop1">
                                        <li><h6 class="dropdown-header">Select viz</h6></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><h6 class="dropdown-header">Add viz</h6></li>
                                        <li><a class="dropdown-item" onclick="Unicorn.call('app', 'addViz');" href="#">New</a></li>
                                    </ul>    
                            </div> 
                            <!--
                            <button class="btn btn-primary" type="button" onclick="Handler.navigator.toggleNav();"
                                        aria-expanded="false" aria-controls="collapseExample">
                                <i class="bi bi-list" style="font-size: 2vw;"></i>
                            </button>-->
                            <!--
                            <button id="showVizOffcanvas" class="btn btn-primary edgy-right-element" type="button" onclick="Handler.navigator.toggleEdit();"
                                        aria-expanded="false" aria-controls="collapseExample" disabled>
                                <i class="bi bi-bar-chart" style="font-size: 1.2rem;"></i>
                            </button>
                            -->
                            <!--
                            <button type="button" class="btn btn-primary" onclick="Handler.navigator.add('viz', 3, 'three');">
                                Test
                            </button>
                            <button id="showVizOffcanvas" type="button" class="btn btn-primary" onclick="Handler.navigator.rename(2, 'too');">
                                Name
                            </button>-->
                            <button type="button" class="btn btn-primary d-none d-lg-block" onclick="Handler.navigator.forward();">
                                <i class="bi bi-caret-right-fill" style="font-size: 1.2rem;"></i>
                            </button>    
                        </div>
                    </div>

                </div>
            </nav>
            {% endblock %}
            
            
            
            {% block navpanel %}
            <!-- NAVPANEL -->
            <div class="bg-light border-none test-nav" id="navbar" aria-labelledby="TBD">
                <div class="d-flex offcanvas-header p-3">
                    <h5 class="offcanvas-title me-auto" id="offcanvasBottomLabel">Datasource Settings</h5>
                    <button type="button" class="btn-close text-reset" onclick="Handler.navigator.toggleNav();" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body test-edit-inner small p-3" style="overflow-x: hidden;" id="switch">
                    <div class="row row-cols-1 g-3 pb-3" id="fileInfo">
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-text" id="file-name-input">Name</span>
                                <input type="text" class="form-control" 
                                       unicorn:model.lazy="datasource.name"
                                       unicorn:partial.id="fileInfo" 
                                       id="fileNameText" unicorn:key="fileNameText"
                                       aria-label="File Name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-text" id="file-description-input">Description</span>    
                                <input type="text" class="form-control" 
                                       unicorn:model.lazy="datasource.description"
                                       unicorn:partial.id="fileInfo" 
                                       id="fileDescText" unicorn:key="fileDescText"
                                       aria-label="File Description">
                            </div>
                            <p class="pt-2 small trefresh">Last refreshed <span class="thuman">...</span>
                                <span class="tstamp d-none">{{datasource.last_cached|date:"c"}}</span></p>


                            <button type="button" class="btn btn-secondary" id="settings-datasource-refresh" 
                                unicorn:click="refreshDatasource()" aria-label="Delete data">
                                    Refresh
                            </button>
                            <button type="button" class="btn btn-danger"
                                id="dataDeleteButton" unicorn:key="dataDeleteButton"
                                data-bs-toggle="modal" data-bs-target="#deleteDataConfirm"
                                aria-label="Delete data">
                                    Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
    
            {% block content %}{% endblock %}
        
        </div>
        {% analytical_body_bottom %}
    </body>
</html>