{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load customfilters %}
{% load guardian_tags %}

<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        {% analytical_head_top %}
        <title>{% block title %}No Site Name Set{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="author" content="{% block author %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="referer" content="no-referrer-when-downgrade" />
        <meta property="og:title" content="{% block og_title %}{% endblock %}" />
        <meta property="og:type" content="{% block og_type %}{% endblock %}" />
        <meta property="og:url" content="{% block og_url %}{% endblock %}" />
        <meta property="og:image" content="{% block og_image %}{% endblock %}" />
        <script defer="defer" src="{% static 'projects/dist/runtime.js' %}"></script>
        <script defer="defer" src="{% static 'projects/dist/vendors.js' %}"></script>
        <script defer="defer" src="{% static 'projects/dist/main.js' %}"></script>
        <link rel="stylesheet" href="{% static 'projects/dist/main.css' %}"/>
        
        {% progressive_web_app_meta %}
        {% unicorn_scripts %}
        <style>.dropdown-toggle.no-arrow::after {content: none;}</style>
        {% analytical_head_bottom %}
        {% if settings.adsensecode %}{{ settings.adsensecode|safe }}{% endif %}
    </head>
    
    <body id="body">
        {% analytical_body_top %}
        {% csrf_token %}
        
        <div unicorn:view class="app-top" id="appTop">
            
            <script>
                function handlerAlias(fname){
                    if (typeof window['Handler']['navigator'][fname] == "function"  ) {
                        window['Handler']['navigator'][fname](); 
                    }
                }
            </script>
            
            <!-- TOP NAVBAR -->
            <nav class="top-nav" id="top-nav" data-nosnippet>
                {% block top_navbar %}
                {% endblock %}
                
                <!-- NOTIFICATION -->
                {% block notification_area %}
                {% endblock %}

                <!-- CONTENT HEADER -->
                {% block content_header_area %}
                {% endblock %}
            </nav>
            
            <!-- OFFCANVAS --> 
            <div data-nosnippet class="offcanvas offcanvas-end" tabindex="-1" id="OFFCANVAS" aria-labelledby="offcanvasExampleLabel" 
                 style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                {% block offcanvas %}
                {% endblock %}
            </div>
            
            <!-- NAVPANEL -->
            {# retrieve from settings name of perm required to show nav#}
            {% with key1='nav_display_perm_'|add:context.mode %}
            {% with nav_display_perm=settings|keyvalue:key1 %}
            
            {# retrieve any saved nav state #}
            {% with key='nav_open_'|add:context.mode %}
            {% with nav_open=settings|keyvalue:key %}
            
            {# if we have perms to display nav #}
            {% if nav_display_perm in app_perms %}
            <div class="bg-light border-none test-nav {% if nav_open %}open{% endif %}" id="navbar" aria-labelledby="TBD">
                <div class="position-relative">
                {% block navpanel %}
                {% endblock %}
                </div>
            </div>
            
            {# if we have perms to save state #}
            {% if 'change_profile' in app_perms %}
            <input
              class="d-none"
              id="nameId"
              unicorn:key="nameKey"
              unicorn:model="request.user.profile.properties.{{key}}"
              unicorn:partial="nameKey"
              unicorn:partial.id="user-preferences"
              data-nosnippet
            />
            <script>
            {% if nav_open %}
            window.addEventListener("load", (event) => {
                Handler.navigator.showNav = true;
            })
            {% endif %}
            document.addEventListener('navToggled', (e) => {
                switch(e.detail.name) {
                    case "navToggled":
                        document.getElementById("nameId").value = e.detail.showNav;
                        Unicorn.trigger('app', 'nameKey');
                        break;
                }
            });
            </script>
            {% endif %}
            {% endif %}
            
            
    
            <!-- EDITPANEL - MASTER -->
            {# retrieve from settings name of perm required to show editpanel #}
            {% with key2='edit_display_perm_'|add:context.mode %}
            {% with edit_display_perm=settings|keyvalue:key2 %}
            
            {# retrieve any saved editpanel state #}
            {% with key3='edit_open_'|add:context.mode %}
            {% with edit_open=settings|keyvalue:key3 %}
            
            {# if we have perms to display editpanel #}
            {% if edit_display_perm in app_perms %}
            <div class="bg-light border-none test-edit" id="editpanel" aria-labelledby="TBD" data-nosnippet>
                <div class="position-relative">
                {% block editpanel %}
                {% endblock %}
                </div>
            </div>
            
            {# if we have perms to save state #}
            {% if 'change_profile' in app_perms %}
            <input
              class="d-none"
              id="editTriggerId"
              unicorn:key="editTriggerKey"
              unicorn:model="request.user.profile.properties.{{key3}}"
              unicorn:partial="editTriggerKey"
              unicorn:partial.id="user-preferences"
              data-nosnippet
            />
            <script>
            {% if edit_open %}
            window.addEventListener("load", (event) => {
                Handler.navigator.showEdit = true;
            })
            {% endif %}
            document.addEventListener('editToggled', (e) => {
                switch(e.detail.name) {
                    case "editToggled":
                        document.getElementById("editTriggerId").value = e.detail.showEdit;
                        Unicorn.trigger('app', 'editTriggerKey');
                        break;
                }
            });
            </script>
            {% endif %}
            {% endif %}
            
            <!-- CONTENT -->
            <div class="row h-100" style="margin-top: var(--top-nav);">
                <div class="col d-flex h-100">
                    {% if nav_display_perm in app_perms %}
                    <!-- LEFT PANEL -->
                    <div class="side-panel">
                        <div class="collapse collapse-horizontal {% if nav_open %}show{% endif %}" id="leftPanel">
                            <div style="min-width: var(--large-edit-width); max-width: var(--large-edit-width);">
                                <br/>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    <!-- MID PANEL -->
                    <div class="mid-panel h-100" id="midPanel">                
                        {% block content %}
                        {% endblock %}
                    </div>
                    
                    {% if edit_display_perm in app_perms %}
                    <!-- RIGHT PANEL -->
                    <div class="side-panel">
                        <div class="collapse collapse-horizontal {% if edit_open %}show{% endif %}" id="rightPanel">
                            <div style="min-width: var(--large-edit-width); max-width: var(--large-edit-width);">
                                <br/>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            
            <nav class="bottom-nav" id="bottom-navbar" style="z-index: 1046 !important;">
                <div data-nosnippet class="bottom-nav-inner">
                    {% block bottom-navbar %}
                    {% endblock %}
                </div>
            </nav>
            
            {% endwith %}{% endwith %}
            {% endwith %}{% endwith %}
            {% endwith %}{% endwith %}
            {% endwith %}{% endwith %}
            
        </div>
        {% analytical_body_bottom %}
    </body>
</html>