{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load customfilters %}
{% load guardian_tags %}

<style>
.noscroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.noscroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
</style>


<div class="offcanvas-body test-edit-inner p-3 pt-0 noscroll" style="overflow-x: hidden;">

    <div class="row row-cols-1 g-2 pb-3" id="fileInfo">
        {% input_textarea model='datasource.datastream.name' modelvalue=datasource.datastream.name label='Name' %}
        {% input_textarea model='datasource.datastream.description' modelvalue=datasource.datastream.description label='Description' %}
        {% input_text model='datasource.datastream.properties.source' modelvalue=datasource.datastream.properties.source label='Source' %}
        {% input_text model='datasource.datastream.properties.sourceurl' modelvalue=datasource.datastream.properties.sourceurl label='Source URL' %}
        {% input_text model='datasource.datastream.properties.licence' modelvalue=datasource.datastream.properties.licence label='Licence' %}
    </div>
    <div class="row row-cols-auto g-3 pb-3">
        <div class="col">
            <h6 class="card-subtitle text-muted">Data Connection</h6>
        </div>
    </div>
    <div class="row row-cols-1 g-2 pb-3" id="fileInfo2">
        {% input_textarea model='datasource.datastream.url' modelvalue=datasource.datastream.url label='URL' %}
        {% input_textarea model='datasource.datastream.properties.post_header_1' modelvalue=datasource.datastream.properties.post_header_1 label='Header 1' %}
        {% input_textarea model='datasource.datastream.properties.post_header_2' modelvalue=datasource.datastream.properties.post_header_2 label='Header 2' %}
        {% input_textarea model='datasource.datastream.properties.post_body_1' modelvalue=datasource.datastream.properties.post_body_1 label='Body 1' %}
        {% input_textarea model='datasource.datastream.properties.post_body_2' modelvalue=datasource.datastream.properties.post_body_2 label='Body 2' %}
        {% input_switch model='datasource.datastream.properties.refresh' modelvalue=datasource.datastream.properties.refresh label='Keep datasource refreshed' partial='infoLargeTitle' %}
        <p class="text-muted small lh-sm">Last refreshed {{ datasource.datastream.last_cached }}</p>
    </div>
    
    {% if create_button %}
    {% button label='Create datasource' onclick="alert('Create!')" %}
    {% endif %}
    
</div>