
{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load customfilters %}
{% load guardian_tags %}

 
{% if formset %}

{{ formset.management_form }}
<!-- HIDDEN TAB PILLS -->
<div class="d-none">
    <!-- <h5 class="offcanvas-title me-auto" id="offcanvasBottomLabel">Datasource Settings</h5> -->
    <ul class="nav nav-pills" id="formset-tabs-pills" role="tablist" data-nosnippet>
        {% for form in formset %}
            {% if forloop.last or 'change_datastream'|obj:form.instance in app_perms %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" 
                        id="form-{{ forloop.counter0 }}-pill" 
                        data-bs-toggle="pill" 
                        data-bs-target="#form-{{ forloop.counter0 }}" 
                        type="button" 
                        role="tab" 
                        aria-controls="form-{{ forloop.counter0 }}" 
                        aria-selected="">
                    {{ form_id }}
                </button>
            </li>
            {% endif %}
            {% if not forloop.last %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if forloop.first %}active{% endif %}" 
                        id="form-cover-{{ forloop.counter0 }}-pill" 
                        data-bs-toggle="pill" 
                        data-bs-target="#form-cover-{{ forloop.counter0 }}" 
                        type="button" 
                        role="tab" 
                        aria-controls="form-cover-{{ forloop.counter0 }}" 
                        aria-selected="">
                    {{ form_id }}
                </button>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<!-- TAB CONTENTS -->
<div class="col tab-content" id="formset-tabs">
    {% for form in formset %}
        {% if forloop.last or 'change_datastream'|obj:form.instance in app_perms %}
            <div class="tab-pane yv fade" id="form-{{ forloop.counter0 }}" 
                 role="tabpanel" aria-labelledby="form-{{ forloop.counter0 }}-pill">

                <div class="d-flex offcanvas-header p-3">
                    <h5 class="offcanvas-title me-auto flex-grow-1 h4" id="offcanvasBottomLabel">{{ form.title }}</h5>
                    <!--<div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="maximize"
                               onclick="vizOffcanvasMaximize(this, '#offcanvasBottom-{{vid}}');" checked>
                    </div>-->
                    <button type="button" class="border-0 bg-transparent" style="padding: 0px; " onclick="Handler.showTabInsideEdit('#form-cover-{{ forloop.counter0 }}-pill'); event.preventDefault();" aria-label="Close">
                        <i class="bi-arrow-left" style="width: 24px; height: 24px;"></i>
                    </button>
                </div>
                <div class="offcanvas-body test-edit-inner p-3 pt-0 noscroll" id="form-{{ forloop.counter0 }}-body" style="overflow-x: hidden;">
                    {{ form }}    
                </div>
            </div>
        {% endif %}
    
        {% if not forloop.last %}
        <div class="tab-pane yv fade {% if forloop.first %}show active{% endif %}" id="form-cover-{{ forloop.counter0 }}" 
             role="tabpanel" aria-labelledby="form-cover-{{ forloop.counter0 }}-pill">

            <div class="d-flex offcanvas-header p-3">
                <h5 class="offcanvas-title me-auto flex-grow-1 h4" id="offcanvasBottomLabel">{{ form.cover_title }}</h5>
                <!--<div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="maximize"
                           onclick="vizOffcanvasMaximize(this, '#offcanvasBottom-{{vid}}');" checked>
                </div>-->
                <button type="button" class="border-0 bg-transparent" style="padding: 0px; " onclick="Handler.navigator.closeEditIfOpen(); event.preventDefault();" aria-label="Close">
                    <i class="bi-arrow-left" style="width: 24px; height: 24px;"></i>
                </button>
            </div>
            <div class="offcanvas-body test-edit-inner p-3 pt-0 noscroll" style="overflow-x: hidden;" id="form-cover-{{ forloop.counter0 }}-body"
                 onclick="Handler.showTabInsideEdit('#form-{{ forloop.counter0 }}-pill'); event.preventDefault();">
                {{ form.instance.name }}    
            </div>
        </div>
        {% endif %}
        
     
    {% endfor %}
</div>
{% endif %}