{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load customfilters %}
{% load guardian_tags %}

{% if not never %}

<!-- CONTENT - LIST -->
<div class="container-fluid px-1 h-100 bg-light overflow-auto content-container" style="transition: 0.2s; z-index: 0; " id="page-container">
    <script>
        document.querySelector(':root').style.setProperty('--top-nav', document.getElementById("top-nav").offsetHeight + 'px');
    </script>
    
    <div class="row h-100 g-0 g-lg-1">
        
        <div class="col-12">  
            {% for page in list_items_paginated %}
            <div class="row row-cols-1 row-cols-md-4 g-2 pb-2" id="page-{{ forloop.counter }}" unicorn:key="page-{{ forloop.counter }}">
                {% if forloop.counter <= page_no and page  %}
                    {% for i in page %}
                        <div class="col">
                            <div id="list-card-{{forloop.counter0}}"
                                 class="card rounded-3 p-1 position-relative {% if not i.is_published %}border border-3{% endif %}"  
                                 style="border-color: {% if i.is_published %}rgba(0, 0, 0, 0.07);{% else %}{% user_profile_color %};{% endif %} 
                                        opacity: 0; animation: fadeIn 1s ease-in both; animation-delay: {{ forloop.counter|divide:4 }}s;">
                                {% include item_content with item=i index=forloop.counter0 %}
                                {% include item_info with item=i index=forloop.counter0 %}
                            </div>
                        </div>
                    {% endfor %}
                {% elif forloop.counter == page_no|add:"1" and page %}
                    <div class="col" 
                         style="opacity: 0; animation: fadeIn 1s ease-in both; animation-delay: {{ forloop.counter|divide:4 }}s;"
                         id="page-{{ forloop.counter }}-trigger"
                         unicorn:visible.debounce-500="more" 
                         unicorn:partial.id="page-{{ forloop.counter }}" 
                         unicorn:partial.key="page-{{ forloop.counter|add:'1' }}">
                        <div class="spinner-border spinner-border-sm text-secondary" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                {% else %}
                {% endif  %}
            </div>
            {% endfor %}
            <div class="row row-cols-1 row-cols-md-4 g-2 pb-2"><div class="col" style="min-height:200px;"></div></div>
        </div>
    </div>
</div>

{% else %}
Error generating input
{% endif %}