{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load customfilters %}
{% load guardian_tags %}

<button type="button" class="btn btn-secondary" id="{{ label|slugify }}-modal-button" 
        data-bs-toggle="modal" data-bs-target="#{{ label|slugify }}-modal">
    {{ label }}
</button>

<!-- {{ label }} modal -->
<div id="{{ label|slugify }}-modal" class="modal fade yvmodal" data-bs-backdrop="static" data-bs-keyboard="false" 
     tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{ label }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ message }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                        data-bs-dismiss="modal">Cancel</button>
                <button type="button" 
                        id="{{ label|slugify }}-modal-cancel-button" 
                        onclick="Modal.getInstance('#{{ label|slugify }}-modal').hide();{% if ok %}{{ ok }}{% endif %}"
                        class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>