{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load customfilters %}
{% load guardian_tags %}

{% if tabs %}
<div class="pt-1 d-none">
    <!-- <h5 class="offcanvas-title me-auto" id="offcanvasBottomLabel">Datasource Settings</h5> -->
    <ul class="nav nav-pills" id="tabpane-{{ name }}-pills" role="tablist">
        {% for t in tabs %}
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if forloop.first %}active{% endif %}" 
                    id="tabpane-{{ name }}-{{ t.label }}-tab" 
                    data-bs-toggle="pill" 
                    data-bs-target="#tabpane-{{ name }}-{{ t.label }}" 
                    type="button" 
                    role="tab" 
                    aria-controls="tabpane-{{ name }}-{{ t.label }}" 
                    aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                {{ t.label|title }}
            </button>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="tab-content" 
     id="tabpane-{{ name }}-content">
    {% for t in tabs %}
    <div class="tab-pane fade position-relative {% if forloop.first %}active show{% endif %}" 
         id="tabpane-{{ name }}-{{ t.label }}" 
         role="tabpanel" 
         aria-labelledby="tabpane-{{ name }}-{{ t.label }}-tab">
        {% if t.detailpane %}
        {#{% detailpane name=t.detailpane perms=datasource_perms %}#}
        {% detailpane detailpane=t.detailpane %}
        {% else %}
        {% include t.template %}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% else %}
Error generating input
{% endif %}