{% load humanize %}
{% load customfilters %}

<div class="d-flex offcanvas-header p-3">
    <h3 class="offcanvas-title me-auto h4" id="offcanvasBottomLabel">Page Settings</h3>
    <!--<div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="maximize"
               onclick="vizOffcanvasMaximize(this, '#offcanvasBottom-{{vid}}');" checked>
    </div>-->
    <button type="button" class="btn-close text-reset" onclick="Handler.navigator.toggleEdit();" aria-label="Close"></button>
</div>  
    
                    
<div class="offcanvas-body test-edit-inner px-2 px-md-3 pb-2 pb-md-3" style="overflow-x: auto;">
    <div class="mb-2 p-3 position-relative rounded-3 bg-white" style="cursor: pointer;" 
         onclick="Handler.showTab('#editpane-pills-edit-tab');">
        <h6 class="mb-0" style="">Data</h6>
        <small class="text-muted">Click to edit the input data for this chart</small>
        <button class="bg-transparent border-0 mx-1 my-2 position-absolute top-0 end-0" 
                style="z-index: 1020;"> 
                <i class="bi bi-pen text-black-50"></i>
        </button>
    </div>
    
    <div class="mb-2 p-3 position-relative rounded-3 bg-white" style="cursor: pointer;"
         onclick="Handler.showTab('#editpane-pills-comments-tab');">
        <h6 class="mb-0" style="">Chart</h6>
         <small class="text-muted">Click to edit the settings for this chart</small>
        <button class="bg-transparent border-0 mx-1 my-2 position-absolute top-0 end-0" 
                style="z-index: 1020;"> 
                <i class="bi bi-pen text-black-50"></i>
        </button>
    </div>
    
    <div class="mb-2 p-3 position-relative rounded-3 bg-white" style="cursor: pointer;"
         onclick="Handler.showTab('#editpane-pills-related-tab');">
        <h6 class="mb-0" style="">Annotations</h6>
        <small class="text-muted">Click to edit the annotations for this chart</small>
        <button class="bg-transparent border-0 mx-1 my-2 position-absolute top-0 end-0" 
                style="z-index: 1020;"> 
                <i class="bi bi-pen text-black-50"></i>
        </button>
    </div>
    
</div>



