{% load unicorn %} 
{% load pwa %}
{% load static %}
{% load analytical %}
{% load humanize %}
{% load socialaccount %}
{% load customfilters %}

{% if never %}
<div class="d-flex offcanvas-header p-3">
    <h5 class="offcanvas-title me-auto flex-grow-1 h4" id="offcanvasBottomLabel">Edit Chart</h5>
    <!--<div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="maximize"
               onclick="vizOffcanvasMaximize(this, '#offcanvasBottom-{{vid}}');" checked>
    </div>-->
    <button type="button" class="border-0 bg-transparent" style="padding: 0px; " onclick="Handler.showTab('#tabpane-editpanel-details-tab');" aria-label="Close">
        <i class="bi-arrow-left" style="width: 24px; height: 24px;"></i>
    </button>
</div>
{% endif %}

<div class="offcanvas-body test-edit-inner p-3 pt-0 noscroll" style="overflow-x: hidden;" id="switch" unicorn:key="setting-row-top-{{vid}}">
    {{ viz_form }}
    {% if never %}
    <div class="row row-cols-1 g-2 pb-3" unicorn:key="setting-row-01-{{vid}}">
        {% if never %}
        <div class="col">
            <!-- SELECT {{forloop.counter}} -->
            <div class="input-group input-group-sm">
                <span class="input-group-text" id="viz-name-input">About</span>
                <textarea rows="4" class="form-control" 
                       unicorn:model.lazy="viz.description"
                       id="vizNameText{{vid}}" 
                       unicorn:key="vizNameText{{vid}}"
                       unicorn:partial="floatingTextarea2{{vid}}"
                       unicorn:partial.key="viz-no-update{{vid}}"
                       aria-label="Viz Name"/>
            </div>
        </div>
        <div class="col">
            <div class="input-group input-group-sm">
                <span class="input-group-text" id="viz-type-select">Type</span>
                <select class="form-select" 
                        unicorn:model="cache.viz.service.saved" 
                        id="vizServiceSelect{{vid}}" 
                        unicorn:key="vizServiceSelect{{vid}}" 
                        unicorn:partial.id="outerPlotBox-{{vid}}" 
                        unicorn:partial.key="setting-row-01-{{vid}}"
                        aria-label="Viz Service Select">
                    <option value="Auto" {% if cache.viz.service.saved == 'None' %} selected{% endif %}>Auto</option>
                    {% for v in cache.viz.service.available.viz %}
                        <option {% if v == cache.viz.service.saved %}selected {% endif %}value="{{v}}">{{v|for_ui|title}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>  
        {% endif %}
        {% input_textarea model='viz.description' modelvalue=viz.description label='About' partial='floatingTextarea2'|add:vid partialkey='viz-no-update'|add:vid %}
        {% input_select model='cache.viz.service.saved' modelvalue=cache.viz.service.saved label='Type' partial='outerPlotBox-'|add:vid partialkey='setting-row-01-'|add:vid options=cache.viz.service.available.viz%}
        
        {% for key, value in cache.viz.options.available.items %}
        {% if never %}
        <div class="col">
            <div class="input-group input-group-sm">
                <span class="input-group-text" id="viz-settings-{{forloop.counter0}}">{{key|for_ui|title}}</span>
                <select class="form-select" 
                        unicorn:model="cache.viz.options.saved.{{key}}" 
                        id="data{{key|title}}Select{{vid}}" 
                        unicorn:key="data{{key|title}}Select{{vid}}" 
                        unicorn:partial.id="outerPlotBox-{{vid}}" 
                        {# unicorn:partial.key="data{{key|title}}Select{{vid}}" #}
                        aria-label="{{key|title}} Select">
                    <option value="Auto" {% no_value_selected cache.viz.options.saved key %}>Auto</option>
                    {% for v in value %}
                        <option value="{{v}}"{% value_is_selected cache.viz.options.saved key v %}>{{v|for_ui|title}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
        {% input_select model='cache.viz.options.saved.'|add:key modelvalue=cache.viz.options.saved.key label=key partial='outerPlotBox-'|add:vid options=value %}
        {% endfor %}
    </div>

    <div class="row row-cols-auto g-3 pb-3">
        <div class="col">
            <h6 class="card-subtitle text-muted">Edit Layout</h6>
        </div>
    </div>

    {% for key, value in cache.viz.layout.available.items %}
    {% custom_input_required cache.viz.layout.available cache.viz.layout.saved key as custom_required %}
    <div class="input-group input-group-sm pb-2"
         id="layoutInput{{vid}}{{key}}"
         unicorn:key="layoutInput{{vid}}{{key}}">
        <span class="input-group-text" id="format-settings-{{forloop.counter}}">{{key|for_ui|title}}</span>
        <select class="form-select" 
                unicorn:model="cache.viz.layout.saved.{{key}}"
                id="layout{{key|title}}Select{{vid}}" 
                unicorn:key="layout{{key|title}}Select{{vid}}" 
                unicorn:partial.id="outerPlotBox-{{vid}}" 
                unicorn:partial="layoutInput{{vid}}{{key}}"
                unicorn:partial.key="customLayoutInput{{vid}}{{key}}"
                aria-label="{{key|title}} Select">
            {% get_select_options cache.viz.layout.available cache.viz.layout.saved key as options %}
            {#<option value="Auto" {% no_value_selected cache.viz.layout.saved key %}>Auto</option>#}
            {% for option, text, selection in options %}
                <option value="{{option}}" {{selection}}>{{text|for_ui|title}}</option>
            {% endfor %}
            {% get_select_options cache.viz.layout.available cache.viz.layout.saved key as options %}
            {% for option, text, selection in options %}
                {{option}}, {{selection}}, {{text|for_ui|title}} |
            {% endfor %}
        </select>

    </div>
    {% if custom_required %}
    {% custom_selected cache.viz.layout.available cache.viz.layout.saved key as custom_selected %}
    {% if never %}
    <div class="input-group input-group-sm pb-2
                {% if custom_selected %}d-flex{% else %}d-none{% endif %}" 
         id="customLayoutInput{{vid}}{{key}}"
         unicorn:key="customLayoutInput{{vid}}{{key}}">
        {#<span class="input-group-text" id="format-settings-{{forloop.counter}}">Custom value</span>#}
        <input class="form-control" 
               type="text"
                unicorn:model.lazy="cache.viz.layout.saved.{{key}}"
                id="layout{{key|title}}Custom{{vid}}" 
                {#unicorn:key="layout{{key|title}}Select{{vid}}" #}
                unicorn:partial.id="outerPlotBox-{{vid}}" 
                unicorn:partial="layoutInput{{vid}}{{key}}"
                unicorn:partial.key="customLayoutInput{{vid}}{{key}}"
                aria-label="{{key|title}} Select">
    </div>
    {% endif %}
    {% input_text_custom model='cache.viz.layout.saved.'|add:key modelvalue=cache.viz.layout.saved.key display=custom_selected id='customLayoutInput'|add:vid|add:key partial='layoutInput'|add:vid|add:key partialid='outerPlotBox-'|add:vid partialkey='customLayoutInput'|add:vid|add:key %}
    {% endif %}
    {% endfor %}
    {% endif %}
    
</div>