{% load humanize %}
{% load customfilters %}
{% load guardian_tags %}
{% get_obj_perms request.user for datasource as "datasource_perms" %}

<div class="card-body p-2 bg-white viz-info-panel">
    <div class="notification d-flex mb-2 rounded-3 bg-light" style="">
        {% for v in datasource.vizs.all %}
            <div class="bg-light text-muted flex-fill position-relative d-flex justify-content-center align-items-center"
                 style="cursor: pointer;" 
                 {% if 'change_datasource' in datasource_perms %}onclick="Handler.navigator.toggleEdit();"{% endif %}>
                <span class="align-middle fs-6">Page {{ forloop.counter }}</span>
                
                {% if 'change_datasource' in datasource_perms %}
                <button class="bg-transparent border-0 mx-1 my-2 position-absolute top-0 end-0" 
                        style="z-index: 1020;"> 
                        <i class="bi bi-pen text-black-50"></i>
                </button>
                {% endif %}
                
            </div>
        {% endfor %}
    </div>

    <div class="details mb-2 d-flex align-items-start p-3 pt-2 pe-5 position-relative rounded-3 bg-light" 
         id="infoLargeTitle"
         unicorn:key="infoLargeTitle"
         style="cursor: pointer;" 
         onclick="if(event.target.id != 'fav_button_icon_{{datasource.pk}}') {Handler.navigator.toggleNav();}">
        <div>
            <h1 class="mb-0 h5 lh-sm" 
                style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;">{{ datasource.name }}
                <span class="text-secondary fs-6">...more</span>
            </h1>
            <p class="text-secondary small">
                {#{{ datasource.vizs.count }} viz{{ datasource.vizs.count|pluralize }}・#}{{ datasource.last_cached|naturalday|capfirst }}・{{ datasource.itemviews.count }} view{{ datasource.itemviews.count|pluralize }}・{{ datasource.comments.count }} comment{{ datasource.comments.count|pluralize }}
                 {% if 'change_datasource' in datasource_perms %}
                    {% if datasource.is_published %}<span class="badge bg-success bg-opacity-75">Published</span>
                    {% else %}<span class="badge bg-warning text-dark bg-opacity-75">Unpublished</span>
                    {% endif %}
                {% endif %}
            </p>
        </div>
        {% include 'projects/common/activity_toggle_top_right.html' with item=datasource%}
        
    </div>

    <div class="gallery mb-2 d-flex align-items-center p-3 pe-5 position-relative rounded-3 bg-light" style="">
        <button class="border-0 rounded-circle p-2 me-2 mt-1" 
                style="font-size: 0.7rem; min-height: 30px; max-height: 30px; min-width: 30px; min-width: 30px; 
                       background-color: {{datasource.owner.profile.properties.profile_color|default:'#0dcaf0'}} !important"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Vizualized by {{ datasource.owner.profile.name }}">{{ datasource.owner.profile.name | first | upper}}</button>
        <div>
            <p class="text-body text-decoration-none mb-0 h6" style="">{{ datasource.owner.profile.name }} 
                <span class="text-secondary small" style="">{{ datasource.owner.datasources.count }} viz{{ datasource.owner.datasources.count|pluralize }}</span>
            </p>
            <a href="{% url 'user' datasource.owner.profile.slug %}" class="stretched-link"/>
        </div>
    </div>
</div>