{% load humanize %}
{% load customfilters %}

<div class="card-body p-2 bg-white viz-info-panel">
    {% if ad and ad.html %}
        <div class="notification p-3 pt-2 mb-2 rounded-3 bg-light" style="">
            {% include 'projects/content/ad_viz_info.html' %}
        </div>
    {% endif %}

    <div class="details mb-2 d-flex align-items-start p-3 pt-2 pe-5 position-relative rounded-3 bg-light" 
         id="infoLargeTitle"
         style="" 
         onclick="Handler.navigator.toggleNav();">
        <div>
            <h1 class="mb-0 h5 lh-sm" 
                style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;">{{ datasource.name }}</h1>
            <p class="text-secondary small">
                {#{{ datasource.vizs.count }} viz{{ datasource.vizs.count|pluralize }}・#}{{ datasource.last_cached|naturalday|capfirst }}・{{ datasource.itemviews.count }} view{{ datasource.itemviews.count|pluralize }}</p>
        </div>
        {% if user.is_authenticated %}
        <button class="bg-transparent border-0 mx-1 my-2 position-absolute top-0 end-0" 
                id="fav_button_{{datasource.pk}}"
                style="z-index: 1020;" 
                unicorn:click.stop="toggle_activity({{datasource.pk}});"
                unicorn:partial.id="fav_button_{{datasource.pk}}">
            {% is_favorite datasource request.user as fav %}
            {% if fav %}
                <i class="bi bi-bookmark-fill text-black-50" style="font-size: 1.5rem;"></i>
            {% else %}
                <i class="bi bi-bookmark text-black-50" style="font-size: 1.5rem;"></i>
            {% endif %}
        </button>
        {% endif %}
        
    </div>

    <div class="gallery mb-2 d-flex align-items-center p-3 pe-5 position-relative rounded-3 bg-light" style="">
        <button class="border-0 rounded-circle p-2 me-2 mt-1" 
                style="font-size: 0.7rem; min-height: 30px; max-height: 30px; min-width: 30px; min-width: 30px; 
                       background-color: {{datasource.owner.profiles.properties.profile_color|default:'#0dcaf0'}} !important"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Vizualized by {{ datasource.owner.profiles.name }}">{{ datasource.owner.profiles.name | first | upper}}</button>
        <div>
            <p class="text-body text-decoration-none mb-0 h6" style="">{{ datasource.owner.profiles.name }} 
                <span class="text-secondary small" style="">{{ datasource.owner.datasources.count }} viz{{ datasource.owner.datasources.count|pluralize }}</span>
            </p>
            <a href="{% url 'user' datasource.owner.profiles.slug %}" class="stretched-link"/>
        </div>
    </div>
</div>