{% load humanize %}
{% load customfilters %}
{% load unicorn %} 
{% load socialaccount %}

{% if never %}
<div class="d-flex offcanvas-header p-3">
    <h3 class="offcanvas-title" id="offcanvasExampleLabel">My Settings</h3>
    <!--<div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="maximize"
               onclick="vizOffcanvasMaximize(this, '#offcanvasBottom-{{vid}}');" checked>
    </div>-->
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
{% endif %}
                
<div class="offcanvas-body px-2 px-md-3 pb-2 pb-md-3 pt-0" style="overflow-x: auto;">
    <div class="mb-2 p-3 position-relative rounded-3 bg-light" 
         style="" 
         id="offcanvasUserDesc">
         
        
        {% if 'view_profile' in app_perms %}
        <h6 class="text-muted">Hey {{ user.username | title }}!</h6>
        <div class="card-body mb-1">
            <div class="d-flex align-items-start">
                <div>
                    <p class="small trefresh">Last login <span class="thuman">...</span>
                    <span class="tstamp d-none">{{user.last_login|date:"c"}}</span></p>
                </div>
            </div>
        </div>
        {% modal_ok_cancel label='Logout' message='Do you want to log out?' ok="caches.delete('unicorn'); Unicorn.call('app', 'logout');" %}
        {% else %}
        {% button_sociallogin provider='google' %}   
        {% endif %}
        {% button_refreshapp %}   
        
        
    </div>
    
    {% if 'view_profile' in app_perms %}
    <div class="comments mb-2 p-3 position-relative rounded-3 bg-light" 
         style="cursor: pointer;"
         onclick="Handler.showTab('#tabpane-offcanvas-edit-tab');"
         id="offcanvasProfileDesc">
        <h6 class="text-muted">Preferences</h6>
        <div class="d-flex align-items-start">
            <button class="border-0 rounded-circle p-2 me-2 mt-1" 
                    style="font-size: 0.9rem; min-height: 40px; max-height: 40px; min-width: 40px; min-width: 40px; 
                           background-color: {{request.user.profile.properties.profile_color|default:'#0dcaf0'}} !important">
                {{ request.user.profile.name | first | upper}}
            </button>
            <div>
                <p class="h6" style="">{{request.user.profile.name}}</p>
                <p class="text-muted small lh-sm">{{request.user.profile.description}}</p>
            </div>
        </div>
        <button class="bg-transparent border-0 mx-1 my-2 position-absolute top-0 end-0" 
                style="z-index: 1020;"> 
                <i class="bi bi-pen text-black-50"></i>
        </button>
    </div>
    {% endif %}
    
    {% if 'view_profile' in app_perms %}
    <div class="mb-2 p-3 position-relative rounded-3 bg-light" 
         style="" 
         id="offcanvasUserContentList">
        <h6 class="text-muted">Activity</h6>
        
        <div class="card-body pt-1 mb-1">
            <a class="btn btn-primary position-relative" href="{% url 'user' request.user.profile.slug %}" role="button">
                My Vizs <span class="badge bg-danger">{{request.user.datasources.count }}</span>
            </a>
            
            <a class="btn btn-secondary position-relative" data-bs-toggle="modal" data-bs-target="#viewsModal" role="button">
                My Views <span class="badge bg-danger">{% datasource_views_for_user request.user %}</span>
            </a>
            
            <!-- Views MODAL -->
            <div id="viewsModal" class="modal fade yvmodal" data-bs-backdrop="static" data-bs-keyboard="false" 
                 tabindex="-1" aria-hidden="true" aria-labelledby="viewsModalLabel" data-nosnippet>
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">My Views</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Your vizs have combined total views: </p>
                            <p>Past 24hrs: {% datasource_views_for_user request.user 'day' %}</p>
                            <p>Past week: {% datasource_views_for_user request.user 'week' %}</p>
                            <p>Past month: {% datasource_views_for_user request.user 'month' %}</p>
                            <p>All time: {% datasource_views_for_user request.user 'all' %}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% endif %}
    
    
    <div class="mb-2 p-3 position-relative rounded-3 bg-white" 
         style="" 
         id="offcanvasUserAbout">
        
        {% modal_link label='About YouViz' message='YouViz is a free web app to find, visualise and share open data.' %} 
        {% modal_link label='Terms of Use' message="By using YouViz, all users agree that YouViz is provided 'as is' and YouViz, it's operators nor anyone affiliated with YouViz can not be held responsible in any way for any damage or loss incurred through the use of the service." %}     
        
    </div>
    
    
    
</div>



