{% load unicorn %} 
{% load humanize %}

<!-- APP START -->
<div class="container-fluid p-0" id="appTop">
    <!-- SPINNER START -->
    <div unicorn:loading class="overlay">
        <div class="d-flex justify-content-center">  
            <div class="spinner-grow text-primary" role="status" style="width: 3rem; height: 3rem; z-index: 20;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <!-- SPINNER END -->
    <!-- NAVBAR START -->
    <nav class="navbar navbar-dark bg-dark sticky-top">
      <div class="container-fluid d-flex">
            <a class="navbar-brand me-auto" href="/projects/app">YouViz</a>
            {% unicorn 'login' parent=view %}
            <button id="off-canvas-button" class="navbar-toggler d-block" type="button" data-bs-toggle="offcanvas" 
                    data-bs-target="#OFFCANVAS" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
            </button>
      </div>
    </nav>
    <!--NAVBAR END -->
    <!-- MAIN CONTAINER -->
    <div class="container py-3">
        <!-- OFFCANVAS START --> 
        <div class="offcanvas offcanvas-end" tabindex="-1" id="OFFCANVAS" aria-labelledby="offcanvasExampleLabel">
            <!-- HEADER -->
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Viz Data</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!-- BODY -->
            <div class="offcanvas-body">
                <!--ACCORDIAN START -->
                <div class="accordion accordion-flush" id="accordionExample">

                    <!-- ACCORDIAN ITEM 1 -->
                    <div class="accordion-item">
                        <!-- ACCORDIAN 1 HEADER -->
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" 
                                    data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Select
                            </button>
                        </h2>
                        <!-- ACCORDIAN 1 BODY -->
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body px-0">
                                <!-- FILE LIST -->
                                <div class="list-group list-group-flush">
                                    {% if file %}
                                    <div class="list-group-item list-group-item-action active" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="mb-1">{{file.description}}</h6>
                                            <small>{{file.uploaded_at|naturaltime|capfirst}}</small>
                                        </div>
                                        <small>Selected</small>
                                    </div>
                                    {% else %}
                                    No data files
                                    {% endif %}
                                    {% for f in files %}
                                        {% if f.pk != file.pk %}
                                            <a href="#" 
                                               unicorn:click="setFile({{f.pk}})"
                                               onclick="bootstrap.Offcanvas.getInstance('#OFFCANVAS').hide();"
                                               class="list-group-item list-group-item-action" aria-current="true">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1">{{f.description}}</h6>
                                                    <small>{{f.uploaded_at|naturaltime|capfirst}}</small>
                                                </div>
                                                <small>Ready</small>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <!-- END FILE LIST -->
                            </div>
                        </div>
                    </div>
                    <!-- END ACCORDIAN ITEM 1-->
                   <!-- ACCORDIAN ITEM 2 -->
                    <div class="accordion-item">
                        <!-- ACCORDIAN 2 HEADER -->
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" 
                                    data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Get Remote
                            </button>
                        </h2>
                        <!-- ACCORDIAN 2 BODY -->
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body px-0">
                                <!-- FILE LIST -->
                                <div class="list-group list-group-flush">
                                    {% for d in remote_data %}
                                    <a href="#" unicorn:click="getRemoteData('{{d}}')" 
                                       onclick="bootstrap.Offcanvas.getInstance('#OFFCANVAS').hide();"
                                       class="list-group-item list-group-item-action" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="mb-1">{{d}}</h6>
                                        </div>
                                        <small>Copy this publicly available data to your account</small>
                                    </a>
                                    {% empty %}
                                    No remote data
                                    {% endfor %}
                                </div>
                                <!-- END FILE LIST -->
                            </div>
                        </div>
                    </div>
                    <!-- END ACCORDIAN ITEM 2-->

                   <!-- ACCORDIAN ITEM 3 -->
                    <div class="accordion-item">
                        <!-- ACCORDIAN 3 HEADER -->
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" 
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Upload Local
                            </button>
                        </h2>
                        <!-- ACCORDIAN 3 BODY -->
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <!-- DROPZONE WIDGET -->
                                <div class="container mt-3">
                                    <form action="/projects/upload/" method="POST" enctype="multipart/form-data" class="dropzone" id="drop">
                                        {% csrf_token %}
                                        <div class="fallback">
                                            <input name="document" type="file" multiple />
                                        </div>
                                    </form>
                                </div>
                                <script>
                                    Dropzone.options.drop = { // camelized version of the `id`
                                        paramName: "document", // The name that will be used to transfer the file
                                        maxFilesize: 2, // MB
                                    };
                                </script>
                                <!-- END DROPZONE -->
                            </div>
                        </div>
                    </div>
                    <!-- END ACCORDIAN ITEM 3 -->
                </div>
                <!-- END ACCORDIAN -->
            </div>
        </div>
        <!-- OFFCANVAS END-->

        <!-- TABS START -->
        <!-- TAB BUTTONS -->
        <ul class="nav nav-pills" id="myTab" role="tablist">
            {% for v in vizs %}
            {% with vids=v.pk|stringformat:"s" %}
            {% with vid="viz-"|add:vids %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if forloop.first %}active {% endif %}fw-bold" id="{{vid}}-tab" 
                        {% comment %}unicorn:click="activeTab='{{vids}}'"{% endcomment %}
                        data-bs-toggle="pill" 
                        data-bs-target="#{{vid}}" role="tab" aria-controls="{{vid}}" 
                        aria-selected="true">{{v.title}}</button>
            </li> 
            {% endwith %}
            {% endwith %}
            {% endfor %}
            <li class="nav-item dropdown fw-bold">
                <a class="nav-link dropdown-toggle" id="tab-add-dropdown" data-bs-toggle="dropdown" href="#" 
                   role="button" aria-expanded="false">New</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" unicorn:click="addViz()" href="#">Add</a></li>
                    {% if vizs %}
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                    {% for viz in vizs %}
                        <li><a class="dropdown-item" unicorn:click="copyViz({{viz.pk}})" href="#">Copy {{viz.title}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link fw-bold" id="dataframe-tab" 
                        {% comment %}unicorn:click="activeTab='dataframe'"{% endcomment %}
                        {% comment %}data-bs-toggle="pill" data-bs-target="#dataframe"{% endcomment %}
                        data-bs-toggle="modal" data-bs-target="#modalTable"
                        role="tab" aria-controls="modaltable" aria-selected="false">
                    Data
                </button>
            </li>

        </ul>
        <!-- TAB CONTENT -->
        <div class="tab-content" id="myTabContent">
            {% for v in vizs %}
            {% with vids=v.pk|stringformat:"s" %}
            {% with vid="viz-"|add:vids %}
            <!-- TAB {{ forloop.counter }} CONTENT -->
            <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="{{vid}}" role="tabpanel" aria-labelledby="{{vid}}-tab">
                {% unicorn 'viz' parent=view viz=v id=vid %}
            {% endwith %}
            {% endwith %}
            </div>
            {% endfor %}
            <!-- TAB DF CONTENT -->
            {% comment %}
            <div class="tab-pane fade" id="dataframe" role="tabpanel" aria-labelledby="dataframe-tab">
                {% unicorn 'dataframe' parent=view file=file %}
            </div>
            {% endcomment %}
            {% unicorn 'dataframe' parent=view file=file %}
        </div>
    </div>
    <!-- MAIN CONTAINER END -->
</div>
<!-- APP END -->