{% extends "../projects/base.html" %}
{% block title %}{% if meta_object %}{{meta_object.seo.title}} - {{settings.sitename}}{% else %}{{settings.sitename}}{% endif %}{% endblock %}
{% block description %}{% if meta_object %}{{meta_object.seo.description}}{% else %}{{settings.sitedesc}}{% endif %}{% endblock %}
{% block keywords %}Free web app, open data, visualization, insights, histograms, box plots, scatter plots, line plots, bar charts{% endblock %}
{% block author %}youviz.app{% endblock %}

{% block top_navbar %}
    {% include 'projects/top_navbar/top_navbar.html' %}
{% endblock %}

{% block offcanvas %}
    {% include 'projects/offcanvas/offcanvas.html' %}
{% endblock %}

{% block bottom-navbar %}
    {% include 'projects/bottom-navbar/bottom-navbar.html' %}
{% endblock %}

{% block navpanel %}
    {% include 'projects/navpanel/navpanel.html' %}
{% endblock %}

{% block content %}
    {% if context.mode == "list" %} 
        {% include 'projects/content/list/list.html' %}
    {% elif context.mode == "user" %} 
        {% include 'projects/content/list/list.html' %}
    {% elif context.mode == "new" %}
        {% if page == 'new.vizmenu' %} {% include 'projects/content/new/viz/list.html' %}
        {% elif page == 'new.viz.complete' %} {% include 'projects/content/new/viz/new_viz_complete.html' %}
        {% elif page == 'new.datamenu' %} {% include 'projects/content/new/data/list.html' %} 
        {% elif page == 'new.datasource.complete' %} {% include 'projects/content/new/data/new_datasource_complete.html' %}
        {% endif %}
    {% elif context.mode == "view" %} 
        {% include 'projects/content/view/view.html' %}
        {#{% include 'projects/content/view/payload.html' %}#}
    {% endif %}
{% endblock %}