<!-- TODO: DATAFRAME SPINNER -->

<div id="modalTable" class="modal fade" tabindex="-1" role="dialog">
<!-- DATAFRAME START -->
    <div class="modal-dialog modal-xl modal-fullscreen-xl-down" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3>Data</h3>
                <!-- TAB BUTTONS END-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
            <!-- TABLE -->
            <table id="table"
                data-toggle="table"
                data-search="true"
                data-show-columns="true"
                data-height="450"
                data-show-columns-toggle-all="true"
                data-show-toggle="true"
                data-show-fullscreen="true">
                <thead>
                    <tr>
                        {% for column in file.columns %}
                            <th data-field="col-{{ column }}">{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for record in file.records %}
                    <tr>
                        {% for c in record %}
                        <td>{{ c }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<script>
  var $table = $('#table')

  $(function() {
    $('#modalTable').on('shown.bs.modal', function () {
      $table.bootstrapTable('resetView')
    })
  })
</script>