<div>
    <!-- put component code here -->
    <!--<input unicorn:model="name" type="file" class="btn btn-primary" id="text" unicorn:key="someFancyKey"/><br /> -->
    
     <!-- Nav tabs -->
    
                <table id="table" class="table table-bordered table-hover table-sm">
                       <!--data-toggle="table"
                       data-toolbar=".toolbar"
                       data-show-columns="true"
                       data-search="true"
                       data-show-toggle="true"
                       data-pagination="true"
                       data-reorderable-columns="true">-->
                  <thead>
                    <tr>
                    {% for column in columns %}
                     <th data-sortable="true" data-field="{{ column }}">
                         {{ column }}
                      </th>
                    {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for record in records %}
                    <tr>
                        {% for c in record %}
                       <td>{{ c }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
<script type="application/javascript">
  window.addEventListener("DOMContentLoaded", (event) => {
    Unicorn.addEventListener("updated", (component) => {
        alert("got updated:"+ component.name);
        //document.getElementById("table").bootstrapTable();
    });
  });
</script>

    
   </div>
