<!-- TODO: DATAFRAME SPINNER -->
<div id="modalTable" class="modal fade yvmodal" data-bs-backdrop="static" data-bs-keyboard="false" 
         tabindex="-1" aria-hidden="true">
    
    <style>
    .bootstrap-table .fixed-table-container .table tbody tr .card-view .card-view-title {
        margin-right: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    </style>
    
<!-- DATAFRAME START -->
    <div class="modal-dialog modal-xl modal-fullscreen-xl-down" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3 class="mb-0">Data</h3>
                <!-- TAB BUTTONS END-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body pt-0">
            <!-- TABLE -->
            <table id="table"
                data-toggle="table"
                data-search="true"
                data-show-columns="true"
                data-show-columns-toggle-all="true"
                data-show-toggle="true"
                data-show-fullscreen="true"
                data-card-view="true">
                <thead>
                    <tr>
                        {% for column in file.columns %}
                            <th data-field="col-{{ column }}">{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for record in file.records %}
                    <tr>
                        {% for c in record %}
                        <td>{{ c }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<script>
  var $table = $('#table')

  $(function() {
    $('#modalTable').on('shown.bs.modal', function () {
      $table.bootstrapTable('resetView')
    })
  })
</script>