<div id="modalTable" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-fullscreen-xl-down" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <!-- TAB BUTTONS START-->
                <ul class="nav nav-pills modal-title" id="dataframeTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active fw-bold" id="dataframe-data-tab" 
                                data-bs-toggle="pill" 
                                data-bs-target="#dataframeTabContentData" role="tab" aria-controls="dataframe-data-tab" 
                                aria-selected="true">Data</button>
                    </li> 
                    <li class="nav-item modal-title" role="presentation">
                        <button class="nav-link fw-bold" id="dataframe-stats-tab" 
                                data-bs-toggle="pill" 
                                data-bs-target="#dataframeTabContentStats" role="tab" aria-controls="dataframe-stats-tab" 
                                aria-selected="false">Stats</button>
                    </li> 
                    <li class="nav-item modal-title" role="presentation">
                        <button class="nav-link fw-bold" id="dataframe-settings-tab" 
                                data-bs-toggle="pill" 
                                data-bs-target="#dataframeTabContentSettings" role="tab" aria-controls="dataframe-settings-tab" 
                                aria-selected="false">Settings</button>
                    </li> 
                    <li class="nav-item modal-title" role="presentation">
                        <button class="nav-link fw-bold" id="dataframe-more-tab" 
                                data-bs-toggle="pill" 
                                data-bs-target="#dataframeTabContentMore" role="tab" aria-controls="dataframe-more-tab" 
                                aria-selected="false">More</button>
                    </li> 
                </ul>
                <!-- TAB BUTTONS END-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
            <!-- TAB CONTENT START-->
            <div class="tab-content" id="dataframeTabContent">
                <div class="tab-pane fade show active" id="dataframeTabContentData" role="tabpanel" aria-labelledby="dataframe-data-tab">
                    <div>
                        <table id="table"
                            data-toggle="table"
                            data-search="true"
                            data-show-columns="true"
                            data-height="450"
                            data-show-columns-toggle-all="true"
                            data-show-toggle="true"
                            data-show-fullscreen="true">
                            <thead>
                                <tr>
                                    {% for column in columns %}
                                        <th data-field="col-{{ column }}">{{ column }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in records %}
                                <tr>
                                    {% for c in record %}
                                    <td>{{ c }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- MEMO FORM -->
                    <div class="form-floating pt-2">
                        <textarea 
                                  {% comment %} unicorn:model.lazy="viz.comment" unicorn:partial="floatingTextarea2{{vid}}" {% endcomment %}
                                  id="dataframeMemo" 
                                  class="form-control" placeholder="Leave a memo here" style="height: 100px"></textarea>
                        <label for="dataframeMemo">Memo</label>
                    </div>
                    
                </div>
                <!-- TAB MEMO CONTENT -->
                <div class="tab-pane fade" id="dataframeTabContentStats" role="tabpanel" aria-labelledby="dataframe-stats-tab">
                    Stats
                </div>
                <!-- TAB SETTINGS CONTENT -->
                <div class="tab-pane fade" id="dataframeTabContentSettings" role="tabpanel" aria-labelledby="dataframe-settings-tab">
                
                    <div class="row g-2" unicorn:key="dataframe-settings-row-01">
                        <div class="col-lg-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" 
                                       unicorn:model.lazy="file.description" 
                                       id="filenameText" unicorn:key="filenameText"
                                       {% comment %} unicorn:partial.id="{{vid}}-tab" {% endcomment %} 
                                       unicorn:partial.key="filenameText"
                                       aria-label="Data File Name">
                                <label for="filenameText">Data file name</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- TAB MORE CONTENT -->
                <div class="tab-pane fade" id="dataframeTabContentMore" role="tabpanel" aria-labelledby="dataframe-more-tab">
                     <div class="row g-2" unicorn:key="dataframe-more-row-01">
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-danger"
                                id="datafileDeleteButton" unicorn:key="datafileDeleteButton"
                                unicorn:click="delete()"
                                aria-label="Delete data file">
                                    Delete this data file
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TAB CONTENT END-->
        </div>
        <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<script>
  var $table = $('#table')

  $(function() {
    $('#modalTable').on('shown.bs.modal', function () {
      $table.bootstrapTable('resetView')
    })
  })
</script>