{% load humanize %}
{% load unicorn %} 
<div>                               
    
    <div class="d-grid gap-2" id="fileInfo">
        <!-- FILECONTROL SPINNER START -->
        <div unicorn:loading class="overlay">
            <div class="d-flex justify-content-center">  
                <div class="spinner-grow text-primary" role="status" style="width: 3rem; height: 3rem; z-index: 20;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <!-- SPINNER END -->
        {% if editing_file %}
            <div class="form-floating">
                <input type="text" class="form-control" 
                       unicorn:model.defer="file.title"
                       id="fileNameText" unicorn:key="fileNameText"
                       aria-label="File Name">
                <label for="fileNameText">Name</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" 
                       unicorn:model.defer="file.description"
                       id="fileDescText" unicorn:key="fileDescText"
                       aria-label="File Description">
                <label for="fileDescText">Description</label>
            </div>
            <button class="btn btn-primary" onclick="editing_file=false;" 
                    unicorn:click=saveFileInfo unicorn:partial.id="fileInfo">Save</button>
            <button class="btn btn-secondary" onclick="editing_file=false;" 
                    unicorn:click.discard="$toggle('editing_file')" unicorn:partial.id="fileInfo" >Cancel</button>
        {% else %}
        
        <!-- LEARNER MODE SWITCH -->
                    <div class="form-check form-switch">
                        <input class="form-check-input" 
                               unicorn:click="switch_learner_mode"
                               {% comment %}unicorn:model="project.learner_mode" {% endcomment %}
                               type="checkbox" id="learnerModeSwitch"{% if project.learner_mode %} checked{% endif %}>
                        <label class="form-check-label" for="learnerModeSwitch">Learner Mode</label>
                    </div>
    
        
        
        
            <!-- FILE CARD -->
            <div class="card" 
                 unicorn:click="$toggle('editing_file')" 
                 onclick="editing_file = true;"
                 unicorn:partial.id="fileInfo" 
                 style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="d-flex justify-content-center" 
                             style="height: 100%;"><i class="bi bi-filetype-csv align-self-center" style="font-size: 4rem;"></i></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{file.title}}</h5>
                            <p class="card-text">{{file.description}}</p>
                            <p class="card-text"><small class="text-muted">Cached {{file.uploaded_at|naturaltime|capfirst}}</small></p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        <!-- ITEM CARD/S -->
        {% if file.learner_mode %} 
            {% for item in items %}
                <div class="card" 
                     style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h5 class="card-title">{{item.title}}</h5>
                                <p class="card-text">{{item.description}}</p>
                                <p class="card-text"><small class="text-muted">Open</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    
    
    
    
    <!-- BOTTOM NAVBAR START -->
                    <nav class="navbar fixed-bottom bg-light" id=bottom-navbar-offcanvas>
                        <div class="container-fluid d-flex justify-content-start d-grid gap-2">
                            <button type="button" class="btn btn-outline-danger border-0"
                                id="dataDeleteButton" unicorn:key="dataDeleteButton"
                                data-bs-toggle="modal" data-bs-target="#deleteDataConfirm"
                                aria-label="Delete data">
                                    <i class="bi bi-x-lg" style="font-size: 1.2rem;"></i>
                            </button>
                            
                            <!-- VIZ DELETE MODAL START -->
                            <div class="modal fade yvmodal" id="deleteDataConfirm" data-bs-backdrop="static" data-bs-keyboard="false" 
                                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Delete Data</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Would you like to delete this data?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" unicorn:click.discard="cancel" 
                                                    data-bs-dismiss="modal">Cancel</button>
                                            <button type="button" id="modalLogoutButton" 
                                                    onclick="bootstrap.Modal.getInstance('#deleteDataConfirm').hide(); 
                                                    document.getElementById('app-spinner').hidden = false;
                                                    Unicorn.call('app', 'deleteFile', '{{file.pk}}');"
                                                    class="btn btn-danger">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END MODAL -->

                            <button type="button" class="btn btn-outline-primary border-0 {% if files|length == 1 %}disabled{% endif %}"
                                id="sourcecontrolOpenButton" unicorn:key="sourcecontrolOpenButton"
                                data-bs-toggle="modal" data-bs-target="#modalSourcecontrol" aria-controls="modalsourcecontrol"
                                {% if files|length == 1 %} disabled{% endif %}>
                                    <i class="bi bi-box-arrow-up-right" style="font-size: 1.2rem;"></i>
                            </button>
                            {% unicorn 'sourcecontrol' parent=view id='sourcecontrol' %}

                            <button type="button" class="btn btn-outline-primary border-0"
                                id="getmoreOpenButton" unicorn:key="getmoreOpenButton"
                                data-bs-toggle="modal" data-bs-target="#modalGetmore" aria-controls="modalgetmore">
                                    <i class="bi bi-plus-square" style="font-size: 1.2rem;"></i>
                            </button>
                            {% unicorn 'getmore' parent=view id='getmore' %}    
                        </div>
                    </nav>
    
        {% endif %}
    </div>
    
    
</div>