<div>
    <!-- LOGIN SPINNER START -->
    <div unicorn:loading class="overlay" id="login-spinner" hidden>
        <div class="d-flex justify-content-center">  
            <div class="spinner-grow text-danger" role="status" style="width: 3rem; height: 3rem; z-index: 20;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <!-- SPINNER END -->
    <!-- LOGIN START -->
    <div>
        {% if request.user.is_authenticated %}
            <span class="navbar-brand d-none d-lg-inline mb-0">Hey {{ request.user.username }}!</span>
            <button type="button" class="btn btn-primary me-2" id="logoutButton" data-bs-toggle="modal" 
                    data-bs-target="#staticBackdrop">Logout</button>
        {% else %}
            <span class="navbar-brand mb-0">Welcome guest!</span>
            <button type="button" class="btn btn-primary me-2" id="loginButton" data-bs-toggle="modal" 
                    data-bs-target="#staticBackdrop">Login</button>
        {% endif %}
    </div>
    <!-- LOGIN/OUT MODAL START -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" 
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                {% if request.user.is_authenticated %}
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Logout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Would you like to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" unicorn:click.discard="cancel" 
                            data-bs-dismiss="modal">Cancel</button>
                    <button type="button" id="modalLogoutButton" 
                            onclick="bootstrap.Modal.getInstance('#staticBackdrop').hide(); 
                                     document.getElementById('login-spinner').hidden = false;
                                     Unicorn.call('login', 'logout');"
                            {% comment %} unicorn:click="logout" {% endcomment %}
                            class="btn btn-primary">OK</button>
                </div>
                {% else %}
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="input" unicorn:model.defer="username" class="form-control" 
                               id="floatingInputEmail" placeholder="name@example.com">
                        <label for="floatingInputEmail">Username</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" unicorn:model.defer="password" class="form-control" 
                               id="floatingInputPassword" placeholder="Password">
                        <label for="floatingInputPassword">Password</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalCancelButton" class="btn btn-secondary" 
                            unicorn:click.discard="cancel" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" id="modalLoginButton" unicorn:click="login" class="btn btn-primary">OK</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- END MODAL -->
</div>