<div>
    <!-- VIZ SPINNER START -->
    <div unicorn:loading class="overlay">
        <div class="d-flex justify-content-center">  
            <div class="spinner-grow text-danger" role="status" style="width: 3rem; height: 3rem; z-index: 20;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <!-- SPINNER END -->
    <!-- PLOT -->
    {% with vids=viz.pk|stringformat:"s" %}
    {% with vid='viz-'|add:vids %}
    <div id="outerOuterPlotBox-{{vid}}" class="sticky-top" style="z-index: 995">
        <div id="outerPlotBox-{{vid}}">
            <div id="plotBox-{{vid}}">
            </div>
            <script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
            <script class="youVizOnLoad youVizOnUpdate" type="application/javascript">
                {% if plot_data %}
                 var data = JSON.parse('{{plot_data|safe}}');
                 var layout = JSON.parse('{{plot_layout|safe}}');
                 //var config = {responsive: true};
                 layout.height = 420;
                 layout.margin.t = 0;
                 Plotly.react("plotBox-{{vid}}", data, layout, {displayModeBar: false, scrollZoom: true});

                 /*
                 resizeTarget = document.getElementById("plotBox-{{vid}}");
                 var update = {
                    width: resizeTarget.clientWidth,
                    height: resizeTarget.clientHeight
                 };
                 alert(update.width);
                 Plotly.relayout("plotBox-{{vid}}", update);
                 */
                 window.addEventListener("resize", (event) => {
                     resizeTarget = document.getElementById("plotBox-{{vid}}");
                     if (window.getComputedStyle(resizeTarget).display !== "none") {
                         var update = {
                            width: resizeTarget.clientWidth,
                            height: resizeTarget.clientHeight
                         };
                         Plotly.relayout("plotBox-{{vid}}", update);
                     }
                 });
                 var tabEl = document.querySelector("#{{vid}}-tab")
                 //console.log("query selector: " + tabEl.id);
                 tabEl.addEventListener('shown.bs.tab', function (event) {
                     //console.log("shown event: "+ event.target.id);
                     if (event.target.id === "{{vid}}-tab") { // newly activated tab
                         //event.relatedTarget // previous active tab
                         resizeTarget = document.getElementById("plotBox-{{vid}}");
                         var update = {
                            width: resizeTarget.clientWidth,
                            height: resizeTarget.clientHeight
                         };
                         Plotly.relayout("plotBox-{{vid}}", update);
                         //console.log("shown event: "+event.target.id);
                     }
                 })
                 {% endif %}
            </script>
        </div>
    </div>
    <!-- END PLOT -->
    <!-- MESSAGE BOX -->
    
    <!-- END MESSAGE BOX -->
    
    
    <!-- BOTTOM NAVBAR START -->
    <nav class="navbar fixed-bottom bg-light" id=bottom-navbar-{{vid}}>
        <div class="container-fluid d-flex">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" 
                    data-bs-target="#offcanvasBottom-{{vid}}" aria-controls="offcanvasBottom-{{vid}}">
                <i class="bi bi-bar-chart" style="font-size: 1.2rem;"></i>
            </button>
        </div>
    </nav>
    <div class="offcanvas offcanvas-bottom" tabindex="-1" data-bs-backdrop="false" data-bs-scroll="true" 
         id="offcanvasBottom-{{vid}}" aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header d-flex">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Viz Settings</h5>
            
            
            <!-- TAB BUTTONS -->
            <ul class="nav nav-pills px-2" id="myTab-{{vid}}" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link fw-bold active" id="viz-settings-tab-{{vid}}" data-bs-toggle="pill" 
                            data-bs-target="#viz-settings-pane-{{vid}}" role="tab" aria-controls="viz-settings-pane" aria-selected="false">
                        <i class="bi bi-sliders" style="font-size: 1.2rem;"></i>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fw-bold" id="share-tab-{{vid}}" data-bs-toggle="pill" 
                            data-bs-target="#share-tab-pane-{{vid}}" role="tab" aria-controls="share-tab-pane" aria-selected="false">
                        <i class="bi bi-share-fill" style="font-size: 1.2rem;"></i>
                    </button>
                </li>
            </ul>
            
            
            
            <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small pt-0">
        
            
            
            
            <!-- TAB CONTENT -->
            <div class="tab-content mt-2" id="myTabContent-{{vid}}" unicorn:key="myTabContent-{{vid}}">
                <!-- SETTINGS TAB -->
                <div class="tab-pane fade show active" id="viz-settings-pane-{{vid}}" unicorn:key=viz-settings-pane-{{vid}} 
                     role="tabpanel" aria-labelledby="viz-settings-tab-{{vid}}">
                    <!-- SETTINGS -->
                    <div class="row g-2" unicorn:key="setting-row-01-{{vid}}">
                        <div class="col-lg-2">
                            <!-- SELECT {{forloop.counter}} -->
                            <div class="form-floating">
                                <input type="text" class="form-control" 
                                       unicorn:model.lazy="viz.title"
                                       id="vizNameText{{vid}}" unicorn:key="vizNameText{{vid}}"
                                       {% comment %} unicorn:partial.id="{{vid}}-tab" {% endcomment %} 
                                       unicorn:partial.key="vizNameText{{vid}}"
                                       aria-label="Viz Name">
                                <label for="vizNameText{{vid}}">Viz Name</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <!-- SELECT {{forloop.counter}} -->
                            <div class="form-floating">
                                <select class="form-select" unicorn:model="viz_settings.service.saved" 
                                        id="vizServiceSelect{{vid}}" unicorn:key="vizServiceSelect{{vid}}" 
                                        unicorn:partial.id="outerPlotBox-{{vid}}" unicorn:partial.key="setting-row-01-{{vid}}"
                                        aria-label="Viz Service Select">
                                    <option value="None" {% if viz_settings.service.saved == 'None' %} selected{% endif %}>Select viz</option>
                                    {% for v in viz_settings.service.available.viz %}
                                        <option {% if v == viz_settings.service.saved %}selected {% endif %}value="{{v}}">{{v}}</option>
                                    {% endfor %}
                                </select>
                                <label for="vizServiceSelect{{vid}}">Viz Type</label>
                            </div>
                        </div>  
                        {% for key, value in viz_settings.options.items %}
                        <div class="col-lg-2">
                            <!-- SELECT {{forloop.counter}} -->
                            <div class="form-floating">
                                <select class="form-select" unicorn:model="viz_settings.options.{{key}}.saved" 
                                        id="data{{key|title}}Select{{vid}}" unicorn:key="data{{key|title}}Select{{vid}}" 
                                        unicorn:partial.id="outerPlotBox-{{vid}}" unicorn:partial.key="data{{key|title}}Select{{vid}}"
                                        aria-label="{{key|title}} Select">
                                    <option value="None" {% if value.saved == 'None' %} selected{% endif %}>Select field</option>
                                    {% for v in value.available %}
                                        <option {% if v == value.saved %}selected {% endif %}value="{{v}}">{{v}}</option>
                                    {% endfor %}
                                </select>
                                <label for="data{{key|title}}Select{{vid}}">{{key|title}} Field</label>
                            </div>
                        </div>
                        {% endfor %}
                        
                        <div class="col-lg-2">
                            <!-- SWITCH 1 -->
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault{{vid}}">
                                <label class="form-check-label" for="flexSwitchCheckDefault{{vid}}">Exclude missing data</label>
                            </div>
                            <!-- SWITCH 2 -->
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked{{vid}}" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked{{vid}}">Show legend</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <!-- SELECT {{forloop.counter}} -->
                            <button type="button" class="btn btn-lg btn-danger"
                                id="vizDeleteButton{{vid}}" unicorn:key="vizDeleteButton{{vid}}"
                                {% comment %} unicorn:partial.id="{{vid}}-tab" unicorn:partial.key="vizNameText{{vid}}" {% endcomment %}
                                unicorn:click="delete()"
                                {% comment %} onclick="Unicorn.call('app', 'deleteViz', {{viz.pk}});"  {% endcomment %}
                                aria-label="Viz Name">
                                    Delete viz
                            </button>
                        </div>
                        
                        
                    </div>
                </div>
                <!-- SHARE TAB -->
                <div class="tab-pane fade" id="share-tab-pane-{{vid}}" role="tabpanel" aria-labelledby="share-tab-{{vid}}">
                     <div class="row g-2" unicorn:key="share-row-01-{{vid}}">
                        <div class="col-lg-2">      
                            <div id="viz-qrcode-{{vid}}"></div>
                            <script type="text/javascript">
                                var qrcode = new QRCode(document.getElementById("viz-qrcode-{{vid}}"), {
                                    text: "{{ request.path }}",
                                    width: 100,
                                    height: 100,
                                    colorDark : "#000000",
                                    colorLight : "#ffffff",
                                    correctLevel : QRCode.CorrectLevel.H
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
    
            
            
            
            
            
            
            
            
        </div>
    </div>
    <!--BOTTOM NAVBAR END -->
    
    <div class="form-floating">
        <textarea unicorn:model.lazy="viz.comment" unicorn:partial="floatingTextarea2{{vid}}" id="floatingTextarea2{{vid}}" 
                  class="form-control" placeholder="Leave a memo here" style="height: 100px"></textarea>
        <label for="floatingTextarea2{{vid}}">Memo</label>
    </div>
    
    {% endwith %}
    {% endwith %}
</div>