{% load customfilters %}
{% load guardian_tags %}

<div unicorn:view>
    <!-- PLOT -->
    {% with vids=viz.pk|stringformat:"s" %}
    {% with vid='viz-'|add:vids %}
    
    <div class="d-none" unicorn:key="viz-no-update{{vid}}"></div>
    
    <div id="outerOuterPlotBox-{{vid}}" class="sticky-top" style="z-index: 995">
        <div id="outerPlotBox-{{vid}}">
            <script type="application/json" id="youviz:data:{{vid}}">
            {"plot_data":{{viz.viz_html.plot_data|safe}}, "plot_layout":{{viz.viz_html.plot_layout|safe}}}
            </script>
            <div id="plotBox-{{vid}}" class="viz-container"></div>
        </div>
    </div>
    
    {% get_obj_perms request.user for viz as "viz_perms" %}
    {% if "change_viz" in viz_perms %}
        {% include '../projects/editpanel/editpanel.html' %}
    {% endif %}
    
    <div class="position-relative pt-1 mx-2 viz-text-area text-secondary ts-6"
        {% if 'change_viz' in viz_perms %}onclick="Handler.navigator.toggleEdit();"{% endif %}
         id="floatingTextarea2{{vid}}"
         style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden;">
        {% if viz.description %}{{viz.description}}{% else %}No description.{% endif %}
    </div>
    {% endwith %}
    {% endwith %}
</div>