<!-- TODO: GETMORE SPINNER -->

<div id="modalReport" class="modal fade yvmodal" tabindex="-1" role="dialog">
<!-- DATAFRAME START -->
    <div class="modal-dialog modal-xl modal-fullscreen-xl-down" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3 class="mb-0">Report</h3>
                <!-- TAB BUTTONS END-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body pt-0">
            <div class="d-grid gap-2"> 
            No report available
            </div>
        </div>
        <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>