<!-- TODO: GETMORE SPINNER -->

<div id="modalReport" class="modal fade yvmodal" tabindex="-1" role="dialog">
<!-- DATAFRAME START -->
    <div class="modal-dialog modal-xl modal-fullscreen-xl-down" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3 class="mb-0">Report</h3>
                <!-- TAB BUTTONS END-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0" id="report-body">
                <div class="row g-2"> 
                    <div class="col-lg-2"> 
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <button type="button" class="btn btn-secondary" id="report-button-refresh" 
                                    unicorn:click="load_vizs()">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                        </div>
                    </div>
                </div>
                
                {% for v, html in vizData %}
                <div class="row g-2"> 
                    <div class="col-lg-2"> 
                    <!-- REPORT HTML -->
                        <h6 class="card-subtitle mb-2 text-muted">{{v.title}}</h6>
                    </div>
                    <div class="col-lg-2"> 
                        <div class="d-flex justify-content-center">{{html|safe}}</div>
                    </div>
                    <div class="col-lg-2"> 
                        <div>{{v.comment}}</div>
                    </div>
                </div>  
                <hr/>
                {% endfor %}
                        
                <div id="viz-qrcode-{{vid}}">
                </div>
                <script type="text/javascript">
                    var qrcode = new QRCode(document.getElementById("viz-qrcode-{{vid}}"), {
                        text: "{{ request.path }}",
                        width: 60,
                        height: 60,
                        colorDark : "#000000",
                        colorLight : "#ffffff",
                        correctLevel : QRCode.CorrectLevel.H
                    });
                </script>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>