<!-- TODO: GETMORE SPINNER -->

<div unicorn:view id="modalReport" class="modal fade yvmodal" tabindex="-1" role="dialog">
    <div id="vizreport-partial-dummy" class="d-none"></div>
<!-- DATAFRAME START -->
    <div class="modal-dialog modal-xl modal-fullscreen-xl-down" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3 class="mb-0">Report</h3>
                <!-- TAB BUTTONS END-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="report-body">
                {% for v, html in vizData %}
                <div class="row g-2 pb-4"> 
                    <div class="col"> 
                    <!-- REPORT HTML -->
                        <h6 class="card-subtitle mb-2 text-muted">{{v.name}}</h6>
                        <div class="yv-vizreport d-flex justify-content-center">{{html|safe}}</div>
                        <div>{{v.comment}}</div>
                        <hr/>
                    </div>
                </div> 
                {% endfor %}
                
                <div class="row g-2 pb-4"> 
                    <div class="col"> 
                        <h6 class="card-subtitle mb-2 text-muted">Share</h6>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="vizreport-share"
                                   onclick="document.querySelector('#vizreport-share-panel').classList.toggle('d-none');"
                                   unicorn:model="report.share"
                                   unicorn:partial.id="vizreport-partial-dummy">
                            <label class="form-check-label" for="vizreport-share">Share this report in the gallery</label>
                        </div>
                        <div id="vizreport-share-panel" class="d-none">
                            <div class="alert alert-warning d-flex align-items-center" role="alert">
                                <i class="bi bi-exclamation-triangle-fill" style="font-size: 1rem;"></i>
                            <div>
                            This report is publicly visible
                            </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="pe-2">
                                    <button type="button" class="btn btn-secondary" id="report-button-share" style="height:60px; width:60px;">
                                    <i class="bi bi-share"></i>
                                    </button>
                                    <p id="report-share-result"></p>
                                </div>
                                <div class="pe-2" id="viz-qrcode-{{vid}}">
                                </div>
                            </div>
                        </div>
                        
                    
                        <script type="text/javascript">
                            var qrcode = new QRCode(document.getElementById("viz-qrcode-{{vid}}"), {
                                text: "{{report.get_absolute_url}}",
                                width: 60,
                                height: 60,
                                colorDark : "#000000",
                                colorLight : "#ffffff",
                                correctLevel : QRCode.CorrectLevel.H
                            });
                        </script>

                        <script type="text/javascript">
                        const shareData = {
                          title: '{{report.name}}',
                          text: 'Check out this data vizualization on YouViz!',
                          url: '{{report.get_absolute_url}}'
                        }

                        const btn = document.querySelector('#report-button-share');
                        const resultPara = document.querySelector('#report-share-result');

                        // Share must be triggered by "user activation"
                        btn.addEventListener('click', async () => {
                          try {
                            await navigator.share(shareData);
                            //resultPara.textContent = 'MDN shared successfully';
                          } catch (err) {
                            resultPara.textContent = `Error: ${err}`;
                          }
                        });
                        </script>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0 mb-4">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>